psutil==5.9.5
jinja2==3.1.5
pytest==7.4.2
pytest-cov==4.1.0
black==25.1.0
pycodestyle==2.10.0
pydocstyle==6.3.0
css-html-js-minify==2.5.5
bs4==0.0.1
beautifulsoup4==4.12.2
djlint==1.30.2
cpplint==1.6.1
GitPython==3.1.41
pytest-xdist==3.5.0
parameterized==0.9.0
-r requirements.txt