psutil
jinja2
pytest
pytest-cov
black
pycodestyle
pydocstyle
css-html-js-minify
python-minifier
requests
bs4
beautifulsoup4
wheel
setuptools
djlint
cpplint
flask
flask-cors
waitress
flask-executor
vidua
pyxdelta
pillow
boto3