psutil==5.9.5
jinja2==3.1.3
pytest==7.4.2
pytest-cov==4.1.0
black==24.1.0
pycodestyle==2.10.0
pydocstyle==6.3.0
css-html-js-minify==2.5.5
python-minifier==2.9.0
requests==2.31.0
bs4==0.0.1
beautifulsoup4==4.12.2
djlint==1.30.2
cpplint==1.6.1
flask==3.0.0
flask-cors==4.0.0
waitress==2.1.2
flask-executor==1.0.0
vidua==0.4.5
pyxdelta==0.1.2
pillow==10.2.0
boto3==1.28.43
GitPython==3.1.41
cryptography==41.0.7
apscheduler==3.10.4
pyopenssl==23.3.0
pytest-xdist==3.5.0
parameterized==0.9.0
