opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-rq
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-redis
redis
rq
apscheduler==3.11.1
flask-cors==6.0.1
requests
cryptography==45.0.7
pyopenssl==25.3.0
swagger-ui-py
flask-session
flask==3.1.2
waitress==3.0.2