{# Variables and classes not defined here are in plandomizer.html #}
<style>
    .hint-info {
        margin: 16px 16px;
    }

    .color-guide-toggle {
        cursor: pointer;
        text-decoration: underline;
    }

    .color-table {
        max-width: 300px;
    }
</style>
<div class="tab-pane plando-pane fade"
     id="nav-plando-{{panelName}}"
     role="tabpanel"
     aria-labelledby="nav-plando-{{panelName}}-tab">
    <h2 class="title">{{panel["name"]}}</h2>
    <div class="hint-info">
        Hints can be a maximum of 123 characters. The only permitted characters
        are letters, numbers, spaces, the characters ',.-?! and color tags.
        Any blank hints will be filled by the selected hint algorithm.
    </div>
    <div class="hint-info">
        To apply color to hint text, surround that text with the appropriate
        color tag. <pre>[red]This text is colored with red.[/red]</pre>
    </div>
    <div class="hint-info">
        There are ten colors to choose from.
        <span class="color-guide-toggle" id="plando_toggle_color_table">Show/Hide Color Guide</span>
    </div>
    <div class="flex-container flex-center hidden" id="plando_hint_color_table">
        <table class="color-table">
            <tr>
                <th style="background-color: #fff; color: #000;">Light</th>
                <th>Dark</th>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #a36200;">orange</td>
                <td style="color: #ffa010;">orange</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #b00000;">red</td>
                <td style="color: #ff0000;">red</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #2828ff;">blue</td>
                <td style="color: #0c7ded;">blue</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #8000ff;">purple</td>
                <td style="color: #bb1cff;">purple</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #008000;">lightgreen</td>
                <td style="color: #59ff64;">lightgreen</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #b00058;">magenta</td>
                <td style="color: #e84898;">magenta</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #008080;">cyan</td>
                <td style="color: #3ee1e1;">cyan</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #c04040;">rust</td>
                <td style="color: #d25757;">rust</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #132958;">paleblue</td>
                <td style="color: #b5cdff;">paleblue</td>
            </tr>
            <tr>
                <td style="background-color: #fff; color: #275e1e;">green</td>
                <td style="color: #00ce0e;">green</td>
            </tr>
        </table>
    </div>
    {% for _, levelObj in panel["levels"] %}
        <h3 class="title">{{levelObj["name"]}}</h3>
        <div class="flex-container flex-center">
            {% for location in levelObj["locations"] %}
                <div class="location-picker">
                    <label for="plando_{{location["value"]}}_hint" class="location-label">
                        {{location["name"]}}
                    </label>
                    <div id="plando_{{location["value"]}}_hint_wrapper"
                         data-toggle="tooltip"
                         title>
                        <input type="text"
                               id="plando_{{location["value"]}}_hint"
                               name="plando_{{location["value"]}}_hint"
                               placeholder="Enter hint text or leave blank for a random hint..."
                               maxlength="900"
                            class="form-control">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
