{# Variables and classes not defined here are in plandomizer.html.jinja2 #}
<div class="tab-pane plando-pane fade"
     id="nav-plando-{{panelName}}"
     role="tabpanel"
     aria-labelledby="nav-plando-{{panelName}}-tab">
    <h2 class="title">{{panel["name"]}}</h2>
    {% for categoryName, categoryObj in panel["categories"].items() %}
        <div id="plando_custom_location_panel_{{categoryObj["singular"].lower()}}"
             style="display: none;">
            <h3 class="title">{{categoryObj["name"]}}</h3>
            <div class="flex-container flex-center">
                {% for location in categoryObj["locations"] %}
                    <div class="location-picker">
                        <label for="{{location["location_id"]}}" class="location-label">
                            {{location["name"]}}
                        </label>
                        <div id="{{location["location_id"]}}_wrapper"
                            data-toggle="tooltip"
                            title>
                            <select id="{{location["location_id"]}}"
                                    name="{{location["location_id"]}}"
                                    class="form-select plando-item-select">
                                <option value="">-- Randomize --</option>
                                {% if categoryName == "CrownPad" %}
                                    {% for selectLocation in plando_custom_locations[categoryName][location["level"]] %}
                                        <option value="{{selectLocation["value"]}}"
                                            {% if selectLocation["value"] == location["vanilla_value"] %}selected{% endif %}>
                                            {{selectLocation["name"]}}
                                        </option>
                                    {% endfor %}
                                {% elif categoryName == "Kasplat" %}
                                    {% for selectLocation in plando_custom_locations[categoryName][location["level"]][location["kong"]] %}
                                        <option value="{{selectLocation["value"]}}"
                                            {% if selectLocation["value"] == location["vanilla_value"] %}selected{% endif %}>
                                            {{selectLocation["name"]}}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    {% for selectLocation in plando_custom_locations[categoryName] %}
                                        <option value="{{selectLocation["value"]}}"
                                            {% if selectLocation["value"] == location["vanilla_value"] %}selected{% endif %}>
                                            {{selectLocation["name"]}}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div id="{{location["reward_id"]}}_wrapper"
                            data-toggle="tooltip"
                            title>
                            <select id="{{location["reward_id"]}}"
                                    name="{{location["reward_id"]}}"
                                    class="form-select plando-item-select">
                                <option value="">-- Randomize --</option>
                                {% for item in plando_items|plando_custom_loc_item_restrict(categoryName) %}
                                    <option value="{{item["value"]}}">
                                        {{item["name"]}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
