<div class="tab-pane plando-pane fade show active"
     id="nav-plando-introduction"
     role="tabpanel"
     aria-labelled-by="nav-plando-introduction-tab">
    <h2 class="title">Introduction</h2>
    <p>Welcome to the plandomizer! This is an advanced option that allows users to specify things such as
    rewards, level order, shop costs, minigames, hints and more. All plandomizer selections will be
    added to the other randomizer settings you have chosen.</p>

    <p><b>Use with caution.</b> As you specify more rewards and options, the chances of generating an
    impossible seed, or being unable to generate a seed at all, will increase. The easiest way to use
    the plandomizer is to specify only a handful of items, and then let the randomizer fill in the
    rest.</p>

    <p>If your seed fails to generate, <b>do not simply try again.</b> The chances are high that there is
    an error in your seed's logic. Ask for help in the plando-help channel on Discord instead.</p>

    <p><b>Be sure to set all of your non-plandomizer settings before assigning any plandomizer settings
    or rewards.</b> Altering some settings may change or remove assigned rewards.</p>

    <p>When selecting items for locations, if an item is grayed out in any of the dropdown lists, it means
    that the item cannot be placed in that location due to a conflict with your current settings. If an
    item does not appear at all in a dropdown list, it means that the item cannot be placed in that
    location due to technical limitations.</p>
</div>
