{# Variables and classes not defined here are in plandomizer.html #}
<div class="tab-pane plando-pane fade"
     id="nav-plando-items"
     role="tabpanel"
     aria-labelledby="nav-plando-items-tab">
     <p class="select-title mt-2">Add Location</p>
     <div class="d-flex px-3">
         <div class="flex-grow-1 me-2">
            <select id="plando_location_adder"
                    class="form-select order-select plando-load-locations"
                    style="width: 100%">
            </select>
        </div>
        <button class="btn btn-secondary" id="plando_add_location" type="button">
            <i class="fa-solid fa-plus"></i>
        </button>
     </div>
     <table class="mt-5 table table-hover" style="min-width: 100%" hidden id="plando_location_table">
        <thead>
            <tr>
                <th class="fw-bold">Location Name</th>
                <th class="fw-bold">Held Item</th>
                <th style="width: 80px"></th>
            </tr>
        </thead>
        <tbody id="plando_location_container"></tbody>
     </table>
     <button class="btn btn-secondary w-100 mt-5" type="button" id="plando_reset_location" hidden>
        Reset Locations
     </button>
</div>
