{# Variables and classes not defined here are in plandomizer.html.jinja2 #}
<div class="tab-pane plando-pane fade"
     id="nav-plando-{{panelName}}"
     role="tabpanel"
     aria-labelledby="nav-plando-{{panelName}}-tab">
    <h2 class="title">{{panel["display_name"]}}</h2>
    {% for kong, locations in panel["locations"].items() %}
        <h3 class="title">{{kong}}</h3>
        <div class="flex-container flex-center">
            {% for location in locations %}
                <div class="location-picker">
                    <label for="plando_{{location["enum_name"]}}" class="location-label">
                        {{location["display_name"]}}
                    </label>
                    <select id="plando_{{location["enum_name"]}}"
                            name="plando_{{location["enum_name"]}}"
                            class="form-select plando-item-select">
                        <option value="">-- Randomize --</option>
                        {% for item in plando_items|plando_item_restrict(location) %}
                            <option value="{{item["enum_name"]}}"
                                {{plando_option_class_annotation(panel["display_name"], kong, location["enum_name"], item["enum_name"])}}>
                                {{item["display_name"]}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
