<style>
    .item-select.wide-select,
    .item-multiselect.wide-select {
        max-width: 400px;
    }

    .disabled-select {
        opacity: 0.3;
    }

    .select-order {
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
    }

    .order-label {
        width: 70px;
    }

    .order-select {
        width: auto;
    }

    .rescue-label {
        width: 170px;
        text-align: right;
    }
</style>
<div class="tab-pane fade"
     id="nav-plando-general"
     role="tabpanel"
     aria-labelled-by="nav-plando-general-tab">
    <div class="row">
        <div class="col panel"
             style="border-right: 1px solid #e3e3e3;">
            <h2 class="title">World</h2>
            {# <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Ensure the seed can be completed 101%. If unchecked, the seed may be beatable only.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="plando_101"
                                id="plando_101"
                                value="True"/>
                        101% Completable
                    </label>
                </div>
            </div> #}
            <div class="item-select wide-select">
                <p class="select-title">Spawn Location</p>
                <select name="plando_starting_exit"
                        id="plando_starting_exit"
                        class="form-select center-div"
                        aria-label="Spawn Location"
                        data-toggle="tooltip"
                        title="Choose the spawn location when starting the game.">
                    <option selected value="">
                        -- Randomize --
                    </option>
                    {% for spawn in plando_spawns %}
                        <option value="{{spawn["value"]}}">
                            {{spawn["name"]}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex-container">
                <div class="item-multiselect wide-select">
                    <p class="select-title">Starting Kongs</p>
                    <div style="font-style: italic;">
                        If incompatible, what is chosen here will override your chosen starting Kong in the Progression tab!
                    </div>
                    <div id="plando_starting_kongs_selected_wrapper"
                         data-toggle="tooltip"
                         title>
                        <select name="plando_starting_kongs_selected"
                                id="plando_starting_kongs_selected"
                                class="form-select multi-select"
                                aria-label="Starting Kongs"
                                multiple
                                size="6">
                            <option selected value="">
                                Random Kong(s)
                            </option>
                            <option value="donkey">
                                Donkey
                            </option>
                            <option value="diddy">
                                Diddy
                            </option>
                            <option value="lanky">
                                Lanky
                            </option>
                            <option value="tiny">
                                Tiny
                            </option>
                            <option value="chunky">
                                Chunky
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="item-select wide-select">
                <p class="select-title">Kong Cage Openers</p>
                {% for kong in ["diddy", "lanky", "tiny", "chunky"] %}
                    <label id="plando_kong_rescue_div_{{kong}}"
                        class="flex-container select-order">
                        <span class="rescue-label">{{kong | capitalize }} cage opener:&nbsp;</span>
                        <div id="plando_kong_rescue_{{kong}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_kong_rescue_{{kong}}"
                                    name="plando_kong_rescue_{{kong}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                {% if kong != "tiny" %}
                                    <option value="donkey">
                                        Donkey
                                    </option>
                                {% endif %}
                                    <option value="diddy">
                                        Diddy
                                    </option>
                                {% if kong != "tiny" %}
                                    <option value="lanky">
                                        Lanky
                                    </option>
                                {% endif %}
                                {% if kong != "tiny" %}
                                    <option value="tiny">
                                        Tiny
                                    </option>
                                {% endif %}
                                    <option value="chunky">
                                        Chunky
                                    </option>
                            </select>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div style="font-style: italic;">
                More plando settings in the works!
            </div>
            <hr>
            <h2 class="title">Custom Locations</h2>
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each banana fairy."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_fairies"
                               id="plando_place_fairies"
                               display_name="Banana Fairies"
                               value="True"/>
                        Banana Fairies
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each battle arena."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_arenas"
                               id="plando_place_arenas"
                               display_name="Battle Arenas"
                               value="True"/>
                        Battle Arenas
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each dirt patch."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_patches"
                               id="plando_place_patches"
                               display_name="Dirt Patches"
                               value="True"/>
                        Dirt Patches
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each Kasplat."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_kasplats"
                               id="plando_place_kasplats"
                               display_name="Kasplats"
                               value="True"/>
                        Kasplats
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each melon crate."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_crates"
                               id="plando_place_crates"
                               display_name="Melon Crates"
                               value="True"/>
                        Melon Crates
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each Wrinkly door."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_wrinkly"
                               id="plando_place_wrinkly"
                               display_name="Wrinkly Doors"
                               value="True"/>
                        Wrinkly Doors
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Allows the user to specify locations for each Troff 'n' Scoff portal."
                           style="text-align: left">
                        <input class="form-check-input"
                               type="checkbox"
                               name="plando_place_tns"
                               id="plando_place_tns"
                               display_name="Troff 'n' Scoff Portals"
                               value="True"/>
                        Troff 'n' Scoff Portals
                    </label>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col panel"
             style="border-left: 1px solid #e3e3e3;">
            <h2 class="title">Ordering</h2>
            <div class="item-select wide-select">
                <p class="select-title">Level Order</p>
                <p style="font-style: italic;">
                    This planned level order is ignored in non-complex level order shuffle if Kongs are not in the item pool!
                </p>
                {% for i in range(0, 8) %}
                    <label id="plando_level_order_div_{{i}}"
                        class="flex-container select-order">
                        <span class="order-label">Level {{i+1}}:</span>
                        <div id="plando_level_order_{{i}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_level_order_{{i}}"
                                    name="plando_level_order_{{i}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                <option value="JungleJapes">
                                    Jungle Japes
                                </option>
                                <option value="AngryAztec">
                                    Angry Aztec
                                </option>
                                <option value="FranticFactory">
                                    Frantic Factory
                                </option>
                                <option value="GloomyGalleon">
                                    Gloomy Galleon
                                </option>
                                <option value="FungiForest">
                                    Fungi Forest
                                </option>
                                <option value="CrystalCaves">
                                    Crystal Caves
                                </option>
                                <option value="CreepyCastle">
                                    Creepy Castle
                                </option>
                                <option value="HideoutHelm">
                                    Hideout Helm
                                </option>
                            </select>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="item-select wide-select">
                <p class="select-title">K. Rool Order</p>
                {% for i in range(0, 5) %}
                    <label id="plando_krool_order_div_{{i}}"
                        class="flex-container select-order">
                        <span class="order-label">Phase {{i+1}}:</span>
                        <div id="plando_krool_order_{{i}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_krool_order_{{i}}"
                                    name="plando_krool_order_{{i}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                {% for phase in plando_phases %}
                                  <option value="{{phase["value"]}}"
                                  {% if "Boss" in phase["value"] %}
                                    class="plando-tns-boss"
                                  {% else %}
                                    class="plando-krool-phase"
                                  {% endif %}
                                  >
                                    {{phase["name"]}}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="item-select wide-select">
                <p class="select-title">Boss Order</p>
                <p style="font-style: italic;">
                    If you plando any T&S bosses, the SLO requirement to be able to beat bosses by or before each level may be violated. Keep this in mind when placing other items. You must choose a boss in order to choose a Kong.
                </p>
                {% for i in range(0, 7) %}
                    <label id="plando_boss_order_div_{{i}}"
                        class="flex-container select-order">
                        <span class="order-label">{{cb_rando_levels[i].name}}:</span>
                        <div id="plando_boss_order_{{i}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_boss_order_{{i}}"
                                    name="plando_boss_order_{{i}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                {% for phase in plando_phases %}
                                  <option value="{{phase["value"]}}"
                                  {% if "Boss" in phase["value"] %}
                                    class="plando-krool-phase"
                                  {% else %}
                                    class="plando-tns-boss"
                                  {% endif %}
                                  >
                                    {{phase["name"]}}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="plando_boss_kong_{{i}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_boss_kong_{{i}}"
                                    name="plando_boss_kong_{{i}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                <option value="donkey">
                                    Donkey
                                </option>
                                <option value="diddy">
                                    Diddy
                                </option>
                                <option value="lanky">
                                    Lanky
                                </option>
                                <option value="tiny">
                                    Tiny
                                </option>
                                <option value="chunky">
                                    Chunky
                                </option>
                            </select>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="item-select wide-select">
                <p class="select-title">Helm Order</p>
                {% for i in range(0, 5) %}
                    <label id="plando_helm_order_div_{{i}}"
                        class="flex-container select-order">
                        <span class="order-label">Kong {{i+1}}:</span>
                        <div id="plando_helm_order_{{i}}_wrapper"
                             data-toggle="tooltip"
                             title>
                            <select id="plando_helm_order_{{i}}"
                                    name="plando_helm_order_{{i}}"
                                    class="form-select order-select">
                                <option value="" selected">
                                    -- Randomize --
                                </option>
                                <option value="donkey">
                                    Donkey
                                </option>
                                <option value="diddy">
                                    Diddy
                                </option>
                                <option value="lanky">
                                    Lanky
                                </option>
                                <option value="tiny">
                                    Tiny
                                </option>
                                <option value="chunky">
                                    Chunky
                                </option>
                            </select>
                        </div>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $('#plando_starting_kongs_selected option').mousedown(function(e) {
        $(this).prop('selected', !$(this).prop('selected'));
        // For some reason, jQuery will not trigger this event properly.
        document.getElementById('plando_starting_kongs_selected').dispatchEvent(new Event('change'));
    
        return false;
    });
</script>
