{# Variables and classes not defined here are in plandomizer.html.jinja2 #}
<style>
    .hint-info {
        margin: 16px 16px;
    }
</style>
<div class="tab-pane plando-pane fade"
     id="nav-plando-{{panelName}}"
     role="tabpanel"
     aria-labelledby="nav-plando-{{panelName}}-tab">
    <h2 class="title">{{panel["name"]}}</h2>
    <div class="hint-info">
        Hints can be a maximum of 123 characters. The only permitted characters
        are letters, numbers, spaces, and the characters ',.-?! 
        Any blank hints will be filled by the selected hint algorithm.
    </div>
    {% for _, levelObj in panel["levels"].items() %}
        <h3 class="title">{{levelObj["name"]}}</h3>
        <div class="flex-container flex-center">
            {% for location in levelObj["locations"] %}
                <div class="location-picker">
                    <label for="plando_{{location["value"]}}_hint" class="location-label">
                        {{location["name"]}}
                    </label>
                    <div>
                        <input type="text"
                               id="plando_{{location["value"]}}_hint"
                               name="plando_{{location["value"]}}_hint"
                               data-toggle="tooltip"
                               title
                               placeholder="Enter hint text or leave blank for a random hint..."
                               maxlength="900"
                            class="form-control">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
