{# Variables and classes not defined here are in plandomizer.html #}
<style>
    .shop-cost-picker {
        display: none; {# No cost plando yet #}
        margin-top: 4px;
    }

    .shop-cost-input {
        margin: 0 4px;
        width: 20px;
    }
</style>
<div class="tab-pane plando-pane fade"
     id="nav-plando-{{panelName}}"
     role="tabpanel"
     aria-labelledby="nav-plando-{{panelName}}-tab">
    <h2 class="title">{{panel["name"]}}</h2>
    {% for _, levelObj in panel["levels"] %}
        <h3 class="title">{{levelObj["name"]}}</h3>
        <div class="flex-container flex-center">
            {% for location in levelObj["locations"]|plando_shop_sort %}
                <div class="location-picker">
                    <label for="plando_{{location["value"]}}_item" class="location-label">
                        {{location["name"]}}
                    </label>
                    <div id="plando_{{location["value"]}}_item_wrapper"
                         data-toggle="tooltip"
                         title>
                        <select id="plando_{{location["value"]}}_item"
                                name="plando_{{location["value"]}}_item"
                                class="form-select plando-item-select">
                            <option value="">-- Randomize --</option>
                            {% for item in plando_items|plando_item_restrict(location) %}
                                <option value="{{item["value"]}}"
                                    {{plando_option_class_annotation(panel["name"], kong, location["value"], item["value"])}}>
                                    {{item["name"]}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if location["value"] != "RarewareCoin" %}
                        <label class="shop-cost-picker flex-container flex-center">
                            Item Cost:
                            <div id="plando_{{location["value"]}}_shop_cost_wrapper"
                                 data-toggle="tooltip"
                                 title>
                                <input type="number"
                                        min="0"
                                        max="255"
                                        step="1"
                                        data-toggle="tooltip"
                                        title
                                        id="plando_{{location["value"]}}_shop_cost"
                                        name="plando_{{location["value"]}}_shop_cost"
                                        class="form-control shop-cost-input">
                            </div>
                            Coins
                        </label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
