<!--Populate tabs-->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active"
         id="nav-started"
         role="tabpanel"
         aria-labelledby="nav-started-tab">
        {% include 'getting_started.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-random"
         role="tabpanel"
         aria-labelledby="nav-random-tab">
        {% include 'rando_options.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-overworld"
         role="tabpanel"
         aria-labelledby="nav-overworld-tab">
        {% include 'overworld.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-progression"
         role="tabpanel"
         aria-labelledby="nav-progression-tab">
        {% include 'progression.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-qol"
         role="tabpanel"
         aria-labelledby="nav-qol-tab">
        {% include 'qualityoflife.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-cosmetics"
         role="tabpanel"
         aria-labelledby="nav-cosmetics-tab">
        {% include 'cosmetics.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-music"
         role="tabpanel"
         aria-labelledby="nav-music-tab">
        {% include 'music.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-plando"
         role="tabpanel"
         aria-labelledby="nav-plando-tab">
        {% include 'plandomizer/plandomizer.html' %}
    </div>
    <div class="tab-pane fade"
         id="nav-settings"
         role="tabpanel"
         aria-labelledby="nav-settings-tab">
        {% include 'settings.html' %}
    </div>
</div>