<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    <link href="./static/img/dk.png" rel="icon" />
    <title>DK64 Randomizer</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="static/styles/styles.css" rel="stylesheet" />
    <link href="./static/styles/gui.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand" href="#page-top">DK64 Randomizer</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html#overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://github.com/2dos/DK64-Randomizer/wiki/Consoles-and-Emulators">Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://github.com/2dos/DK64-Randomizer/wiki"
                           target="_blank">Wiki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="https://discord.dk64randomizer.com"
                           target="_blank">Discord</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="progressmodal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-body center bg-dark" style="width: 100%;">
                    <label for="progress">Patching Rom</label>
                    <div class="progress position-relative" id="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             id="patchprogress"
                             style="width: 0%;">
                        </div>
                        <small id="progress-text"
                               style="color:black"
                               class="justify-content-center d-flex position-absolute w-100">Initalizing</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="./static/img/logo.png"
         alt="DK64 Randomizer"
         class="center_image"
         style="cursor: pointer; margin-top: 80px"
         onClick="render_page('./index.html')"/>
    <div style="width: 50%; min-width: 400px;" class="center">
        <div class="card bg-dark">
            <form id="form" action="/" method="POST">
                <!--Create navbar-->
                <div class="container">
                    <nav id="rando_tabs">
                        {% include 'nav-tabs.html.jinja2' %}
                    </nav>
                    <!--Populate tabs-->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active"
                             id="nav-random"
                             role="tabpanel"
                             aria-labelledby="nav-random-tab">
                            {% include 'rando_options.html.jinja2' %}
                        </div>
                        <div class="tab-pane fade"
                             id="nav-difficulty"
                             role="tabpanel"
                             aria-labelledby="nav-difficulty-tab">
                            {% include 'difficulty.html.jinja2' %}
                        </div>
                        <div class="tab-pane fade"
                             id="nav-overworld"
                             role="tabpanel"
                             aria-labelledby="nav-overworld-tab">
                            {% include 'overworld.html.jinja2' %}
                        </div>
                        <div class="tab-pane fade"
                             id="nav-qol"
                             role="tabpanel"
                             aria-labelledby="nav-qol-tab">
                            {% include 'qualityoflife.html.jinja2' %}
                        </div>
                        <div class="tab-pane fade"
                             id="nav-cosmetics"
                             role="tabpanel"
                             aria-labelledby="nav-cosmetics-tab">
                            {% include 'cosmetics.html.jinja2' %}
                        </div>
                        <div class="tab-pane fade"
                             id="nav-settings"
                             role="tabpanel"
                             aria-labelledby="nav-settings-tab">
                            {% include 'settings.html.jinja2' %}
                        </div>
                    </div>
                </div>
                <hr />
                <div class="container" id="nav-gen-type-container">
                    <nav style="display: inline-block; float: none; vertical-align: top;">
                        <div class="nav nav-tabs" id="nav-gen-type" role="tablist">
                            <button class="nav-link active"
                                    id="nav-seed-gen-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-seed-gen"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-seed-gen"
                                    aria-selected="true">
                                Generate New Seed
                            </button>
                            <button class="nav-link"
                                    id="nav-patch-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-patch-data"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-patch-data"
                                    aria-selected="false">
                                Generate from Patch File
                            </button>
                        </div>
                    </nav>
                    <!--Populate tabs-->
                    <div class="tab-content" id="common_footer">
                        <div class="tab-pane fade show active"
                             id="nav-seed-gen"
                             role="tabpanel"
                             aria-labelledby="nav-seed-gen-tab">
                            <div style="width: 80%;" class="center">
                                <div class="form-group" style="margin-bottom: 10px; text-align: center;">
                                    <div class="row" style="margin-top: 10px">
                                        <!--Randomize Seed-->
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="form-group row">
                                                        <label for="seed" class="col-sm-4 col-form-label">Seed:</label>
                                                        <div class="col-sm-5">
                                                            <input name="seed"
                                                                   id="seed"
                                                                   style="height: 37px"
                                                                   placeholder="Auto fills when empty"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group row">
                                                        <label for="presets" class="col-sm-3 col-form-label">Presets:</label>
                                                        <div class="col-sm-8">
                                                            <select class="form-select" id="presets" style="height: 37px">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div class="form-check form-switch w-75" id="downloadsettings">
                                                            <label data-toggle="tooltip" title="Download generated ROM as patch file." style="font-size: 13px">
                                                                <input class="form-check-input"
                                                                       type="checkbox"
                                                                       id="download_patch_file"
                                                                       name="download_patch_file"
                                                                       value="True"/>
                                                                Generate Patch File
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch w-75">
                                                            <label data-toggle="tooltip" title="This option enables spoiler log files to be created on randomizer generation." style="font-size: 13px">
                                                                <input class="form-check-input"
                                                                       type="checkbox"
                                                                       id="generate_spoilerlog"
                                                                       name="generate_spoilerlog"
                                                                       value="True"/>
                                                                Generate Spoiler Log
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <label for="input-file-rom_1" id="romlabel" class="form-label mt-4">ROM File</label>
                                            <input accept=".z64,.n64,.v64"
                                                   class="form-control"
                                                   type="file"
                                                   id="input-file-rom_1"
                                                   name="rom_file"
                                                   style="margin-right: 5px;
                                                          width: 50%;
                                                          height: 100%;
                                                          margin: 0 auto;"
                                                   required/>
                                        </div>
                                        <br id="formbreak" />
                                        <input id="generate_seed"
                                               class="btn btn-primary"
                                               style="width: 60%;
                                                      height: 50px;
                                                      text-align: center;"
                                               type="button"
                                               value="Generate Seed"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade"
                                 id="nav-patch-data"
                                 role="tabpanel"
                                 aria-labelledby="nav-patch-tab">
                                <div style="width: 80%;" class="center">
                                    <div class="form-group" style="margin-bottom: 10px; text-align: center;">
                                        <label for="patchfileloader" id="patchlabel" class="form-label mt-4">Patch File</label>
                                        <input id="patchfileloader"
                                               class="form-control"
                                               type="file"
                                               accept=".lanky"
                                               style="margin-right: 5px;
                                                      width: 50%;
                                                      height: 100%;
                                                      margin: 0 auto;"/>
                                        <label for="input-file-rom_2" id="romlabel" class="form-label mt-4">ROM File</label>
                                        <input accept=".z64,.n64,.v64"
                                               class="form-control"
                                               type="file"
                                               id="input-file-rom_2"
                                               name="rom_file"
                                               style="margin-right: 5px;
                                                      width: 50%;
                                                      height: 100%;
                                                      margin: 0 auto;"
                                               required/>
                                    </div>
                                    <br id="formbreak" />
                                    <input id="generate_lanky_seed"
                                           class="btn btn-primary"
                                           style="width: 60%;
                                                  height: 50px;
                                                  text-align: center;"
                                           type="button"
                                           value="Generate Seed from Patch"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <footer id="footer">
        <div class="center">
            <a href="https://github.com/2dos/DK64-Randomizer"
               target="_blank"
               style="text-decoration: none;">
                <img src="./static/img/github.png" alt="GitHub" />
            </a>
            <a href="https://github.com/2dos/DK64-Randomizer/wiki"
               target="_blank"
               style="text-decoration: none;">
                <img src="./static/img/wiki.png" alt="Wiki" />
            </a>
            <a href="https://discord.dk64randomizer.com"
               target="_blank"
               style="text-decoration: none;">
                <img src="./static/img/discord.png" alt="Discord" />
            </a>
        </div>
        <div class="center" style="font-size: small; color:#e3e3e3;">
            <a id="live-version">DK64 Randomizer |</a>
            <a href="https://dev.dk64randomizer.com">Dev Branch</a>
            <br />
            Randomizer by 2dos and Ballaam | Web Generator by Killklli
            <br />
            In-game characters, images and logos copyright © 1999-2021 Nintendo or Rareware respectively.
            <br />
            DK64Randomizer.com does not distribute copyright material.
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js@1.11.2/src/toastify.js"></script>
        <script type="text/javascript" src="./static/js/webworker_main.js" defer></script>
        <script type="text/javascript" src="./static/js/rompatcher/crc.js" defer></script>
        <script type="text/javascript" src="./static/js/rompatcher/formats/bps.js" defer></script>
        <script type="text/javascript" src="./static/js/rompatcher/MarcFile.js" defer></script>
        <script type="text/javascript" src="./static/js/rompatcher/RomPatcher.js" defer></script>
        <script type="text/javascript" src="./static/js/rompatcher/filesaver.js" defer></script>
        <script type="text/javascript" src="./static/js/initalize.js"></script>
        <script>
        function render_page(page){                    
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", page, false);
            xmlhttp.send();
            var data = xmlhttp.responseText;
            document.documentElement.innerHTML = "";
            document.open();
            document.write(data);
            document.close();
            history.pushState({}, "page 1", "index.html");
        }
        </script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover'})
            })
        </script>
    </footer>
