<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border">
            <h3>Music Rando</h3>
            <div>
                Background Music
                <select name="music_bgm" style="width: 60%;" class="form-select center-div" aria-label="Background Music">
                    <option selected value="default">Default Music</option>
                    <option value="randomized">Randomized</option>
                    <option value="chaos">Chaos</option>
                    <option value="uploaded">Upload your own</option>
                </select>
            </div>
            <div>
                Fanfares
                <select name="music_fanfares" style="width: 60%;" class="form-select center-div" aria-label="Fanfares">
                    <option selected value="default">Default Fanfares</option>
                    <option value="randomized">Randomized</option>
                    <option value="uploaded">Upload your own</option>
                </select>
            </div>
            <div>
                Events
                <select name="music_events" style="width: 60%;" class="form-select center-div" aria-label="Events">
                    <option selected value="default">Default Events</option>
                    <option value="randomized">Randomized</option>
                    <option value="uploaded">Upload your own</option>
                </select>
            </div>
        </div>
        <div class="col border">
            <h3>Cosmetics Data</h3>
            Cosmetics ZIP (Check wiki for format)
            <input accept=".zip" class="form-control" type="file" id="music_file" name="music_file" />
        </div>
    </div>
</div>