<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border">
            <h3>Music Rando</h3>
            <div class="form-check form-switch w-75" style="margin-left: 30%;">
                <input class="form-check-input"
                                       type="checkbox"
                                       name="random_music"
                                       id="random_music"
                                       value="True"/>
                    Randomize All
            </div>
            <div>
                Background Music
                <select name="music_bgm"
                        id="music_bgm"
                        style="width: 60%;"
                        class="form-select center-div"
                        aria-label="Background Music">
                    <option selected value="default">
                        Default Music
                    </option>
                    <option value="randomized">
                        Randomized
                    </option>
                    <option value="chaos">
                        Chaos
                    </option>
                    <option value="uploaded">
                        Upload your own
                    </option>
                </select>
            </div>
            <div>
                Fanfares
                <select name="music_fanfares"
                        id="music_fanfares"
                        style="width: 60%;"
                        class="form-select center-div"
                        aria-label="Fanfares">
                    <option selected value="default">
                        Default Fanfares
                    </option>
                    <option value="randomized">
                        Randomized
                    </option>
                    <option value="uploaded">
                        Upload your own
                    </option>
                </select>
            </div>
            <div>
                Events
                <select name="music_events"
                        id="music_events"
                        style="width: 60%;"
                        class="form-select center-div"
                        aria-label="Events">
                    <option selected value="default">
                        Default Events
                    </option>
                    <option value="randomized">
                        Randomized
                    </option>
                    <option value="uploaded">
                        Upload your own
                    </option>
                </select>
                <hr />
                <h3>Custom Music</h3>
                Cosmetics ZIP (Check wiki for format)
                <input accept=".zip"
                    class="form-control"
                    type="file"
                    id="music_file"
                    name="music_file"/>
            </div>
        </div>
        <div class="col border">
            <h3>Colors</h3>
            <div class="form-check form-switch w-75" style="margin-left: 30%;">
                <input class="form-check-input"
                        type="checkbox"
                        name="random_colors"
                        id="random_colors"
                        value="True"/>
                    Randomize All
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="color-selector">
                        DK
                        <select name="dk_colors"
                                id="dk_colors"
                                class="form-select"
                                aria-label="DK"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="dk_custom">
                            <div class="input-group mb-3 dkColorPicker">
                                <input type="text" class="form-control" name="dk_custom_color" id="dk_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="color-selector">
                        Diddy
                        <select name="diddy_colors"
                                id="diddy_colors"
                                class="form-select"
                                aria-label="Diddy"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="diddy_custom">
                            <div class="input-group mb-3 diddyColorPicker">
                                <input type="text" class="form-control" name="diddy_custom_color" id="diddy_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="color-selector">
                        Lanky
                        <select name="lanky_colors"
                                id="lanky_colors"
                                class="form-select"
                                aria-label="Lanky"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="lanky_custom">
                            <div class="input-group mb-3 lankyColorPicker">
                                <input type="text" class="form-control" name="lanky_custom_color" id="lanky_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="color-selector">
                        Tiny
                        <select name="tiny_colors"
                                id="tiny_colors"
                                class="form-select"
                                aria-label="Tiny"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="tiny_custom">
                            <div class="input-group mb-3 tinyColorPicker">
                                <input type="text" class="form-control" name="tiny_custom_color" id="tiny_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="color-selector">
                        Chunky
                        <select name="chunky_colors"
                                id="chunky_colors"
                                class="form-select"
                                aria-label="Chunky"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="chunky_custom">
                            <div class="input-group mb-3 chunkyColorPicker">
                                <input type="text" class="form-control" name="chunky_custom_color" id="chunky_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="color-selector">
                        Rambi
                        <select name="rambi_colors"
                                id="rambi_colors"
                                class="form-select"
                                aria-label="Rambi"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="rambi_custom">
                            <div class="input-group mb-3 rambiColorPicker">
                                <input type="text" class="form-control" name="rambi_custom_color" id="rambi_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="color-selector">
                        Enguarde
                        <select name="enguarde_colors"
                                id="enguarde_colors"
                                class="form-select"
                                aria-label="Enguarde"
                                multiple>
                            <option selected value="vanilla">
                                Vanilla
                            </option>
                            <option value="randomized">
                                Randomized
                            </option>
                            <option value="custom">
                                Custom
                            </option>
                        </select>
                        <div id="enguarde_custom">
                            <div class="input-group mb-3 enguardeColorPicker">
                                <input type="text" class="form-control" name="enguarde_custom_color" id="enguarde_custom_color" default="#000000">
                                <button class="btn btn-default rgb-btn" type="button">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
   $(function(){
            $('.dkColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#dk_custom_color').trigger("change")
                }
            })
            $('.diddyColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#diddy_custom_color').trigger("change")
                }
            })
            $('.lankyColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#lanky_custom_color').trigger("change")
                }
            })
            $('.tinyColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#tiny_custom_color').trigger("change")
                }
            })
            $('.chunkyColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#chunky_custom_color').trigger("change")
                }
            }) 
            $('.rambiColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#rambi_custom_color').trigger("change")
                }
            }) 
            $('.enguardeColorPicker').izoColorPicker({
                myColors: '',
                onApply: (color)=>{
                    $('#enguarde_custom_color').trigger("change")
                }
            }) 
    })

    $('.nav-tabs').click(function(){
        var settings = (document.cookie).split('saved_settings=')
        var object = JSON.parse(settings[1])
        if (object.hasOwnProperty('dk_custom_color')) {
            $('.dkColorPicker').attr('style', 'background-color:' + object.dk_custom_color + ';')
        } if (object.hasOwnProperty('diddy_custom_color')) {
            $('.diddyColorPicker').attr('style', 'background-color:' + object.diddy_custom_color + ';')
        } if (object.hasOwnProperty('lanky_custom_color')) {
            $('.lankyColorPicker').attr('style', 'background-color:' + object.lanky_custom_color + ';')
        } if (object.hasOwnProperty('tiny_custom_color')) {
            $('.tinyColorPicker').attr('style', 'background-color:' + object.tiny_custom_color + ';')
        } if (object.hasOwnProperty('chunky_custom_color')) {
            $('.chunkyColorPicker').attr('style', 'background-color:' + object.chunky_custom_color + ';')
        } if (object.hasOwnProperty('rambi_custom_color')) {
            $('.rambiColorPicker').attr('style', 'background-color:' + object.rambi_custom_color + ';')
        } if (object.hasOwnProperty('enguarde_custom_color')) {
            $('.enguardeColorPicker').attr('style', 'background-color:' + object.enguarde_custom_color + ';')
        }
    })
</script>
