<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border panel">
            <h2 class="title">PROGRESSION</h2>
            <table id="leveltable">
                <tr>
                    <th>Progression</th>
                    <th>B Locker</th>
                    <th>Troff N Scoff</th>
                </tr>
                {% for i in range(0, 8) %}
                    <tr>
                        <td>Level {{ i + 1 }}</td>
                        <td>
                            <input class="form-control"
                                   min="0"
                                   max="200"
                                   name="blocker_{{ i }}"
                                   id="blocker_{{ i }}"
                                   style="width: 100%;"
                                   value="{{ i+1 }}"
                                   type="number"
                                   data-toggle="tooltip"
                                   title="You can adjust each individual B Locker amount to any number between 0-200.&#10;Note that if you make the game impossible to beat the glitchless, the program does validate if a game is beatable glitchless by adjusting your B Locker settings.&#10;If you are unsure what to adjust the level values to, use the presets dropdown instead."/>
                        </td>
                        {% if i < 7 %}
                            <td>
                                <input class="form-control"
                                       min="0"
                                       max="500"
                                       name="troff_{{ i }}"
                                       id="troff_{{ i }}"
                                       style="width: 100%;"
                                       value="{{ i+1 }}"
                                       type="number"
                                       data-toggle="tooltip"
                                       title="You can adjust each individual Troff n Scoff amount to any number between 1-500.&#10;Note that if you make the game impossible to beat the glitchless, the program does validate if a game is beatable glitchless by adjusting your Troff n Scoff settings.&#10;If you are unsure what to adjust the level values to, use the presets dropdown instead."/>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <div class="flex-container">
                <div class="form-check form-switch item-switch" style="margin-top: 50px;">
                    <label data-toggle="tooltip" title="Randomize Required B-Locker totals">
                        <input class="form-check-input"
                               type="checkbox"
                               name="randomize_blocker_required_amounts"
                               id="randomize_blocker_required_amounts"
                               value="True"/>
                        Random B-Lockers
                    </label>
                </div>
                <div class="item-group">
                    <p class="select-title">
                        Max Value:<i>*Tick box to ensure.</i>
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"
                             data-toggle="tooltip"
                             title="Check box to ensure Helm is 'Max Value'.">
                            <div class="input-group-text">
                                <input type="checkbox"
                                       value="True"
                                       id="maximize_helm_blocker"
                                       name="maximize_helm_blocker">
                            </div>
                        </div>
                        <input class="form-control"
                               min="0"
                               max="200"
                               name="blocker_text"
                               id="blocker_text"
                               type="number"
                               data-toggle="tooltip"
                               title="Maximum Randomized value"
                               default="50"
                               placeholder="50"/>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="form-check form-switch item-switch" style="margin-top: 50px;">
                    <label data-toggle="tooltip" title="Randomize Required CB totals">
                        <input class="form-check-input"
                               type="checkbox"
                               name="randomize_cb_required_amounts"
                               id="randomize_cb_required_amounts"
                               value="True"/>
                        Random Troff N' Scoff
                    </label>
                </div>
                <div class="item-group">
                    <p class="select-title">Max Value:</p>
                    <input class="form-control"
                           min="0"
                           max="500"
                           name="troff_text"
                           id="troff_text"
                           type="number"
                           data-toggle="tooltip"
                           title="Maximum Randomized value"
                           default="300"
                           placeholder="300"/>
                </div>
            </div>
        </div>
        <div class="col border panel">
            <h2 class="title">DIFFICULTY</h2>
            <div class = "flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Tag Barrels, Boss Fights, Candy Upgrades etc don't heal you like they normally would.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="no_healing"
                               value="True"/>
                        No Heals
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip" title="No melons are dropped from enemies.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="no_melons"
                               value="True"/>
                        No Melon Slice Drops
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Enabling this setting means logic may expect you to do some difficult shooting challenges without help. If this setting is disabled, then the following requirements exist:&#10;* Lanky's attic in Fungi Forest requires homing ammo.&#10;* Donkey's 5 door cabin in Crystal Caves requires homing ammo.&#10;* Tiny's trash can in Creepy Castle requires homing ammo&#10;* Chunky's tree banana in Creepy Castle requires sniper scope. (This requirement can be skipped by shooting from below the switch.)&#10;* Chunky's shooting barrel in Hideout Helm requires either sniper scope or homing ammo.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="hard_shooting"
                               value="True"/>
                        Hard Shooting
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Enables potentially harder versions of boss fights:&#10;- Mad Jack: if Boss Kong Shuffle is on, you may be required to fight the boss as Donkey or Chunky.&#10;- Pufftoss: Stars are placed randomly in random orientations.&#10;- King Kut Out: Phases are shuffled, including the unused Phase 4.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="hard_bosses"
                               value="True"/>
                        Hard Bosses
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="When a kong dies you can no longer use the kong excluding for boss fights, you can enter any boss arena with any kong and it will force you to the required kong, if a kong is dead all moves will be granted.&#10;WARNING: Seeds might become unbeatable.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="perma_death"
                               value="True"/>
                        Irondonk
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Disables tag barrels from spawning outside troff and scoff rooms.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="disable_tag_barrels"
                               id="disable_tag_barrels"
                               value="True"/>
                        Tag Barrels Disabled
                    </label>
                </div>
            </div>
            <div class = "flex-container">
                <div class="item-select">
                    <p class="select-title">Damage</p>
                    <select name="damage_amount"
                            id="damage_amount"
                            class="form-select center-div"
                            aria-label="Damage Options">
                        <option selected value="default">
                            Normal
                        </option>
                        <option value="ohko">
                            OHKO
                        </option>
                        <option value="double">
                            Double Damage
                        </option>
                        <option value="quad">
                            Quad Damage
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Crown Enemies</p>
                    <select name="crown_enemy_rando"
                            id="crown_enemy_rando"
                            class="form-select"
                            aria-label="Activate Bananaports"
                            data-toggle="tooltip"
                            title="Battle Crown Enemies are Randomized.&#10;-Vanilla: No crown enemy randomization will take place.&#10;-Easy: Crown enemies are randomized with a bias towards the easier enemies.&#10;-Medium: Crown enemies are randomized with a bias towards the medium-difficulty enemies.&#10;-Hard: Crown enemies are randomized with a bias towards the hardest enemies.">
                        <option selected id="off" value="off">
                            Vanilla
                        </option>
                        <option id="easy" value="easy">
                            Easy
                        </option>
                        <option id="medium" value="medium">
                            Medium
                        </option>
                        <option id="hard" value="hard">
                            Hard
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        })
    })
</script>
