<footer>
  <script type="text/javascript" src="./js/bootstrap/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="./js/jquery/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="./js/gui.js"></script>
  <script type="text/javascript" src="./js/rompatcher/crc.js"></script>
  <script type="text/javascript" src="./js/rompatcher/formats/bps.js"></script>
  <script type="text/javascript" src="./js/rompatcher/MarcFile.js"></script>
  <script type="text/javascript" src="./js/rompatcher/RomPatcher.js"></script>
  <script type="text/javascript" src="./js/rompatcher/filesaver.js"></script>
  <script type="text/python" src="./randomize.py"></script>
  <script type="text/python" src="./presets.py"></script>
  <script type="text/python" src="./level_progression.py"></script>


  <div style="width: 100%;">
    <div class="form-group" style="margin-bottom: 10px;text-align: center;">
      <label for="input-file-rom" id="romlabel" class="form-label mt-4">Rom File</label>
      <input accept=".z64" class="form-control" type="file" id="input-file-rom" name="rom_file"
        style="margin-right: 5px;width: 70%;height: 100%; margin: 0 auto;" required>
    </div>
    <input id="generateseed" class="btn btn-primary" style="width: 60%; height: 50px; text-align: center;"
      onclick="submitdata()" type="button" value="Generate Seed" />

</footer>