<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border panel">
            <h2 class="title">GETTING STARTED</h2>
            <h5 class="select-title">
                Presets are settings that can selected and loaded from.&#10;Applying a preset will overwrite all settings that have been selected.
            </h5>
            <div class="flex-container" style="justify-content: center;">
                <div class="item-select">
                    <label for="presets" class="select-title">Presets</label>
                    <select class="form-select" id="presets">
                    </select>
                </div>
                <input id="apply_preset" class="btn btn-primary" type="button" value="Apply"/>
            </div>
            {# <div class="flex-container">
                <div class="form-check form-switch item-switch center-flex">
                    <label data-toggle="tooltip" title="Enable this option to start with the Randomizer tab open on startup">
                        <input class="form-check-input" type="checkbox" name="startup" id="startup" value="True"/>
                        Open Randomizer Tab on Startup
                    </label>
                </div>
            </div> #}
            <p class="select-title" id="output" style="text-align:left;"></p>
        </div>
        <div class="col border panel">
            <h2 class="title">HELPFUL LINKS</h2>
            <div class="flex-container" style="justify-content: center;">
                <div class="item-link">
                    <h2 class="select-title">
                        <img src="./static/img/discord.png" alt="Discord" />
                        <a href="https://discord.dk64randomizer.com" target="_blank">DK64 Rando Discord</a>
                    </h2>
                </div>
                <div class="item-link">
                    <h2 class="select-title">
                        <img src="./static/img/wiki.png" alt="Wiki" />
                        <a href="https://github.com/2dos/DK64-Randomizer/wiki" target="_blank">DK64 Rando Wiki</a>
                    </h2>
                </div>
                <div class="item-link">
                    <h2 class="select-title">
                        <img src="./static/img/GodsIntendedConsole.png"
                             alt="Setup"
                             style="width:50px;"/>
                        <a href="https://github.com/2dos/DK64-Randomizer/wiki/Consoles-and-Emulators"
                           target="_blank">Console and Emulator Setup</a>
                    </h2>
                </div>
                <div class="item-link">
                    <h2 class="select-title">
                        <img src="./static/img/EmoTracker.ico"
                             alt="BananaTracker"
                             style="width:50px;"/>
                        <a href="https://github.com/2dos/bananatracker" target="_blank">BananaTracker</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        })
    })
    
    $('#presets').on('change', function() {
        var selected = $("#presets option:selected").text();
        if (selected == "Suggested") $("#output").html("- Suggested: Level Order Randomizer of shorter length that showcases a lot of the randomization options while keeping the seed accessible. Moves are in randomized locations with Low prices. Requires 40 GBs to enter Helm and shutoff the Blast-o-Matic. Good Place to start.")
        else if (selected == "Season 1 Race Settings") $("#output").html("- Season 1 Race Settings (aka Spike Settings): Level Order Randomizer of medium length that starts you with 3 keys and higher possible Troff N Scoff requirements. All Isles Bananaports are active from the start and Moves are in randomized locations with Medium prices. Requires 69<i>nice</i> GBs to enter Helm and shutoff Blast-o-Matic. Optimized for races.")
        else if (selected == "Coupled LZR Balanced") $("#output").html("- Coupled LZR Balanced: Coupled (Previous loading zones take you back to where you were before) Loading Zone Randomizer of shorter length. Requires 4 keys to beat and all lobbies/levels are open from the start. Moves are in randomized locations with Medium prices. Helm is locked behind 40 GBs and Blast-o-Matic is off.")
        else if (selected == "Decoupled LZR Balanced") $("#output").html("- Decoupled LZR Balanced: Decoupled (Previous loading zones take you to a new location from where you were before) Loading Zone Randomizer of shorter length. Requires 3 keys to beat and all lobbies/levels are open from the start. Moves are in randomized locations with Medium prices. Helm is locked behind 40 GBs and Blast-o-Matic is off. Adds a lot more options for loading zones for a different experience than Coupled LZR.")
        else if (selected == "Hell Mode") $("#output").html("- Hell Mode: Absolute Hell. Decoupled Loading Zone Randomizer with all randomization options on. GB and Color Banana requirements are near maxed. Hints are Cryptic and you start with 1 Kong and need all 8 keys. Moves are in randomized locations with High prices. Also bonus barrels are really neat. Have Fun.")
        else if (selected == "The 2dos Special") $("#output").html("- The 2dos Special: Coupled Loading Zone Randomizer of medium length and higher difficulty with double damage and no heals (outside of melon pickups). Requires 5 keys with small Troff N' Scoff requirements. All lobbies are open from the start. Moves are in randomized locations with Medium prices. Helm is locked behind 40 GBs and Blast-o-Matic is off. Idk honestly this guy never plays DK64 anymore and it's pretty freakin rude.")
        else if (selected == "Cfox Luck") $("#output").html("- Cfox Luck: Level Order Randomizer of medium length with the goal of randomizing the run as much as possible. All Bananaports are randomized and always active for interesting routing. Starts with 2 keys, allows Kongs to purchase another Kong's move, fully random Kasplat/Dirt Patch Locations and a random Helm B. Locker requirement with a limit of 70. Moves are in randomized locations with Medium prices. Goal is a very different experience every seed.")
        else if (selected == "Vanilla Game But Better") $("#output").html("- Vanilla Game But Better: No randomization, only the quality of life settings enabled.")
        else $("#output").html("- " + selected)
    })
</script>
