<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="./img/dk.png" rel="icon" />

  <link href="./styles/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <link href="./styles/gui.css" rel="stylesheet" type="text/css" />
  <title>
    DK64 Randomizer v{{ version }}
  </title>
  <script type="text/javascript" src="./js/brython/brython.js"></script>
  <script type="text/javascript" src="./js/brython/brython_stdlib.js"></script>
  <!-- <script type="text/javascript" src="./js/brython/brython_modules.js"></script> -->
</head>

<div class="modal fade" id="progressmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body center" style="width:100%">
        <label for="progress">Patching Rom</label>
        <div class="progress position-relative" id="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" id="patchprogress" style="width: 0%;"></div>
          <small id="progress-text" class="justify-content-center d-flex position-absolute w-100">Initalizing</small>
        </div>
      </div>
    </div>
  </div>
</div>
