<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="{{ url_for('static', filename='img/dk.png')}}" rel="icon" />

  <link href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <link href="{{ url_for('static', filename='styles/gui.css')}}" rel="stylesheet" type="text/css" />
  <title />
  DK64 Randomizer v {{ version }}
  </title>
</head>
<form id="form" action="{{ url_for('urls.index') }}" method="POST">

  <body>
    <div class="modal fade" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">DK64 Randomizer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <p>Your seed has been generated.</p>
            <p>You can now close this window.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>