<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="{{ url_for('static', filename='img/dk.png')}}" rel="icon" />

  <link href="{{ url_for('static', filename='styles/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/gui.js')}}">

  </script>

  <script crossorigin="anonymous" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js">

    </script>

  <script crossorigin="anonymous" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    src="https://code.jquery.com/jquery-3.6.0.min.js">

    </script>

  <link href="{{ url_for('static', filename='styles/gui.css')}}" rel="stylesheet" type="text/css" />
  <title />
  DK64 Randomizer v {{ version }}
  </title>
</head>
<form action="{{ url_for('urls.index') }}" method="POST" />

<body />