{% include 'header.html' %}
<!--Create navbar-->
<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-progression-tab" data-bs-toggle="tab"
                data-bs-target="#nav-progression" type="button" role="tab" aria-controls="nav-progression"
                aria-selected="true">
                Level Progression
            </button>
            <button class="nav-link" id="nav-msic-tab" data-bs-toggle="tab" data-bs-target="#nav-misc" type="button"
                role="tab" aria-controls="nav-misc" aria-selected="false">
                Miscellaneous
            </button>
        </div>
    </nav>
    <!--Populate tabs-->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-progression" role="tabpanel"
            aria-labelledby="nav-progression-tab">
            {% include 'level_progression.html' %}
        </div>

        <div class="tab-pane fade" id="nav-misc" role="tabpanel" aria-labelledby="nav-misc-tab">
            {% include 'misc.html' %}
        </div>
    </div>
</div>
<script>
    function load_inital() {
        blocker_selectionChanged();
        troff_selectionChanged();
    }
    window.onload = load_inital;
</script>
{% include 'footer.html' %}