{% from 'dropdown_multiselector.html' import dropdown_multiselector %}

{% macro list_selector(list, name, title, tooltip, size, includeDisclaimer=0, overrideDisclaimer="") %}
    <!-- Icon triggers modal -->
    <input class="customize"
           type="button"
           href="#"
           id="{{ name }}_modal"
           data-bs-toggle="modal"
           data-bs-target="#{{ name }}_Modal"
           data-toggle="tooltip"
           title="{{ tooltip }}"/>
</div>
<!-- Modal -->
<div class="modal fade"
     id="{{ name }}_Modal"
     tabindex="-1"
     aria-labelledby="{{ name }}_ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title" id="{{ name }}_ModalLabel">{{ title }}</h3>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="item-multiselect" style="margin-left: 105px;">
                    <div class="color-selector">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text search">
                                    <input type="text"
                                           class="form-control"
                                           id="{{ name }}_search_box"
                                           name="search"
                                           placeholder="Search"/>
                                </div>
                            </div>
                            <select name="{{ name }}_selected"
                                    id="{{ name }}_selected"
                                    class="form-select multi-select selected"
                                    aria-label="List_Selector"
                                    multiple
                                    size="{{ size }}">
                                {% for item in list %}
                                    <option value="{{ item.value }}" title="{{ item.tooltip }}">
                                        {{ item.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% if overrideDisclaimer != "" %}
                    <div class="fst-italic">
                        <div>{{ overrideDisclaimer }}</div>
                    </div>
                {% endif %}
                {% if includeDisclaimer %}
                    <div class="fst-italic">
                        <div>If nothing is selected, all options are treated as selected.</div>
                        <div>Disable the setting slider to disable all options.</div>
                    </div>
                {% endif %}
                {% if name == "minigames_list" %}
                    <div class="form-check form-switch" style="padding-left: 1.5em;">
                        <label data-toggle="tooltip"
                            style="font-size:14px;"
                            title="The hardest variants of minigames are removed.">
                            <input class="form-check-input"
                                type="checkbox"
                                name="disable_hard_minigames"
                                id="disable_hard_minigames"
                                value="True"/>
                            No Hard Minigames
                        </label>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="{{ name }}_select_all">Select All</button>
                <button type="button" class="btn btn-secondary" id="{{ name }}_reset">Reset</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#{{ name }}_selected option').mousedown(function(e) {
        var el = e.target
    
        $(this).prop('selected', !$(this).prop('selected'));
        $(this).trigger('change');
    
        // fixes erratic scroll behavior in Chrome
        var scrollTop = el.parentNode.scrollTop;
        setTimeout(() => el.parentNode.scrollTo(0, scrollTop), 0);
    
        return false;
    });
    
    $('#{{ name }}_select_all').click(function() {
        $('#{{ name }}_selected option').prop('selected', true);
        $('#{{ name }}_selected').trigger('change');
    });
    
    $('#{{ name }}_reset').click(function() {
        $('#{{ name }}_selected option:selected').prop('selected', false);
        $('#{{ name }}_selected').trigger('change');
    });
    
    $('#{{ name }}_search_box').keyup(function() {
        var keyword = document.getElementById("{{ name }}_search_box").value;
        var select = document.getElementById("{{ name }}_selected");
        for (var i = 0; i < select.length; i++) {
            var txt = select.options[i].text;
            if (txt.substring(0, keyword.length).toLowerCase() !== keyword.toLowerCase() && keyword.trim() !== "") {
                select.options[i].style.display = 'none';
            } else {
                select.options[i].style.display = 'list-item';
            }
        }
    });
</script>
{% endmacro %}
{% macro properties_selector(list, name, title, tooltip) %}
    <!-- Icon triggers modal -->
    <input class="customize"
           type="button"
           href="#"
           id="{{ name }}_modal"
           data-bs-toggle="modal"
           data-bs-target="#{{ name }}_Modal"
           data-toggle="tooltip"
           title="{{ tooltip }}"/>
</div>
<!-- Modal -->
<div class="modal fade"
     id="{{ name }}_Modal"
     tabindex="-1"
     aria-labelledby="{{ name }}_ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title" id="{{ name }}_ModalLabel">{{ title }}</h3>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="flex-container">
                        {% for item in list %}
                            <div class="item-select" style="margin:0;flex:0;min-width:150px;">
                                <p class="select-title">{{ item.name }}</p>
                                {% if item.name == "Starting Time" %}
                                    <input 
                                    min="0"
                                    max="65535"
                                    name="{{ name }}_{{ item.value }}"
                                    id="{{ name }}_{{ item.value }}"
                                    style="width:15%"
                                    class="form-control center-div"
                                    type="number"
                                    value="{{ item.default }}"
                                    default_val="{{ item.default }}">
                                {% else %}
                                    <input 
                                    min="-32768"
                                    max="32767"
                                    name="{{ name }}_{{ item.value }}"
                                    id="{{ name }}_{{ item.value }}"
                                    style="width:15%"
                                    class="form-control center-div"
                                    type="number"
                                    value="{{ item.default }}"
                                    default_val="{{ item.default }}">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="{{ name }}_reset">Reset</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#{{ name }}_reset').click(function() {
        {% for item in list %}
            $('#{{ name }}_{{ item.value }}').prop('value', $('#{{ name }}_{{ item.value }}').attr('default_val'))
            $('#{{ name }}_{{ item.value }}').trigger('change')
        {% endfor %}
    });
</script>
{% endmacro %}
{% macro toggle_input(id, name, tooltip="", default_checked=False, altered_name="", hidden="") %}
<div class="form-check form-switch item-switch" data-toggle="tooltip"
            title="{{ tooltip }}" {{ hidden }}>
    {% if default_checked %}
        <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="{{ id }}"
            id="{{ id }}"
            display_name="{{ name }}"
            value="True" checked />
    {% else %}
        <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            name="{{ id }}"
            id="{{ id }}"
            display_name="{{ name }}"
            value="True" />
    {% endif %}
    <label class="form-check-label" for="{{ id }}">
        {% if altered_name == "" %}
            {{ name }}
        {% else %}
            {{ altered_name }}
        {% endif %}
    </label>
</div>
{% endmacro %}

{% macro slider_input(id, name, min_value, max_value) %}
    <input type="range"
        name="{{ id }}"
        id="{{ id }}"
        display_name="{{ name }}"
        min="{{ min_value }}"
        max="{{ max_value }}"
        style="width: 80%"
        class="pretty-slider"
        list="{{ id }}_tickmarks">
    <datalist id="{{ id }}_tickmarks" style="width: 80%; margin-top: -10px" class="d-flex justify-content-between mx-auto px-1">
        {% for val in range(min_value, max_value + 1) %}
            <option value="{{ val }}" label="{{ val }}"></option>
        {% endfor %}
    </datalist>
    <script>
        ["change", "input", "load"].forEach(evt => {
            document.getElementById("{{ id }}").addEventListener(evt, (e) => {
                const targ_value = e.target.value;
                const targ_min = e.target.getAttribute("min");
                const targ_max = e.target.getAttribute("max");
                const targ_delta = targ_max - targ_min;
                const value_delta = targ_value - targ_min;
                e.target.style.setProperty("--p", `${parseInt(100 * (value_delta / targ_delta))}%`)
            });
        });
    </script>
{% endmacro %}
{% macro switchsanity_option(name, setting, subtype, default) %}
    <div class="col">
        <div class="item-select">
            <p class="select-title">{{ name }}</p>
            <select name="{{ setting }}"
                    id="{{ setting }}"
                    class="form-select"
                    aria-label="Randomization type"
                    display_name="name"
                    data-toggle="tooltip"
                    title="Switch assigned to {{ name }}.">
                {% if subtype != "gone_to_helm" %}
                    {% if subtype != "free_tiny" %}
                        <option id="donkey" {% if default == "donkey" %}selected{% endif %} value="donkey">
                            {% if subtype == "guns" %}Coconut
                            {% elif subtype == "instruments" %}Bongos
                            {% elif subtype == "kong" %}Donkey
                            {% elif subtype == "mport_to_helm" %}Blast
                            {% elif subtype == "free_lanky" %}Bongos/Coconut
                            {% elif subtype == "free_tiny" %}You should not see this
                            {% endif %}
                        </option>
                    {% endif %}
                    {% if subtype != "mport_to_helm" %}
                        <option id="diddy" {% if default == "diddy" %}selected{% endif %} value="diddy">
                            {% if subtype == "guns" %}Peanut
                            {% elif subtype == "instruments" %}Guitar
                            {% elif subtype == "kong" %}Diddy
                            {% elif subtype == "mport_to_helm" %}You should not see this
                            {% elif subtype == "free_lanky" %}Guitar/Peanut
                            {% elif subtype == "free_tiny" %}Chimpy Charge
                            {% endif %}
                        </option>
                    {% endif %}
                    {% if subtype != "free_tiny" %}
                        <option id="lanky" {% if default == "lanky" %}selected{% endif %} value="lanky">
                            {% if subtype == "guns" %}Grape
                            {% elif subtype == "instruments" %}Trombone
                            {% elif subtype == "kong" %}Lanky
                            {% elif subtype == "mport_to_helm" %}Balloon
                            {% elif subtype == "free_lanky" %}Trombone/Grape
                            {% elif subtype == "free_tiny" %}You should not see this
                            {% endif %}
                        </option>
                    {% endif %}
                    {% if subtype != "free_tiny" %}
                        <option id="tiny" {% if default == "tiny" %}selected{% endif %} value="tiny">
                            {% if subtype == "guns" %}Feather
                            {% elif subtype == "instruments" %}Saxophone
                            {% elif subtype == "kong" %}Tiny
                            {% elif subtype == "mport_to_helm" %}Monkeyport
                            {% elif subtype == "free_lanky" %}Saxophone/Feather
                            {% elif subtype == "free_tiny" %}You should not see this
                            {% endif %}
                        </option>
                    {% endif %}
                    {% if subtype != "mport_to_helm" %}
                        <option id="chunky" {% if default == "chunky" %}selected{% endif %} value="chunky">
                            {% if subtype == "guns" %}Pineapple
                            {% elif subtype == "instruments" %}Triangle
                            {% elif subtype == "kong" %}Chunky
                            {% elif subtype == "mport_to_helm" %}You should not see this
                            {% elif subtype == "free_lanky" %}Triangle/Pineapple
                            {% elif subtype == "free_tiny" %}Primate Punch
                            {% endif %}
                        </option>
                    {% endif %}
                    {% if subtype != "free_tiny" and subtype != "mport_to_helm" and subtype != "kong" %}
                        <option id="any" {% if default == "any" %}selected{% endif %} value="any">
                            {% if subtype == "guns" %}Any Gun
                            {% elif subtype == "instruments" %}Any Instrument
                            {% elif subtype == "kong" %}You should not see this
                            {% elif subtype == "mport_to_helm" %}You should not see this
                            {% elif subtype == "free_lanky" %}Any Instrument + Any Gun
                            {% elif subtype == "free_tiny" %}You should not see this
                            {% endif %}
                        </option>
                    {% endif %}
                {% else %}
                    <option id="bongos" {% if default == "bongos" %}selected{% endif %} value="bongos">Bongos</option>
                    <option id="guitar" {% if default == "guitar" %}selected{% endif %} value="guitar">Guitar</option>
                    <option id="trombone" {% if default == "trombone" %}selected{% endif %} value="trombone">Trombone</option>
                    <option id="sax" {% if default == "sax" %}selected{% endif %} value="sax">Saxophone</option>
                    <option id="triangle" {% if default == "triangle" %}selected{% endif %} value="triangle">Triangle</option>
                    <option id="lever" {% if default == "lever" %}selected{% endif %} value="lever">Grab Lever</option>
                    <option id="gong" {% if default == "gong" %}selected{% endif %} value="gong">Gong</option>
                    <option id="gone_pad" {% if default == "gone_pad" %}selected{% endif %} value="gone_pad">Gorilla Gone</option>
                {% endif %}
                <option id="random" {% if default == "random" %}selected{% endif %} value="random">
                    Random
                </option>
            </select>
        </div>
    </div>
{% endmacro %}
{% macro item_req_selector(behavior_name, item_name, selector_name, min, max, tooltip) %}
    <div class="item-select">
        <p class="select-title">{{ selector_name }}</p>
        <div class="d-flex select-number-container" id="{{ behavior_name }}_container">
            <select name="{{ behavior_name }}"
                    id="{{ behavior_name }}"
                    display_name="{{ selector_name }}"
                    class="form-select center-div"
                    aria-label="Randomization type"
                    data-toggle="tooltip"
                    title="{{ tooltip }}">
                <option id="pre_selected" value="pre_selected">
                    Pre-Selected
                </option>
                <option id="easy_random" value="easy_random">
                    Easy Random
                </option>
                <option id="medium_random" selected value="medium_random">
                    Normal Random
                </option>
                <option id="hard_random" value="hard_random">
                    Hard Random
                </option>
                {% if behavior_name == "cb_medal_behavior_new" %}
                    <option id="progressive" value="progressive">
                        Progressive
                    </option>
                {% endif %}
            </select>
            <input min="{{ min }}"
                max="{{ max }}"
                name="{{ item_name }}"
                id="{{ item_name }}"
                display_name="Troff 'n' Scoff Count"
                class="form-control center-div"
                type="number"
                data-toggle="tooltip"
                title="Amount of the item specified to complete the check."
                default="{{ min }}"
                placeholder="{{ min }}"/>
        </div>
    </div>
{% endmacro %}
{% macro lock_tab() %}
    <li>
        <a
            class="py-2"
            id="lock-nav-panel"
        >
            <i class="fa fa-lock-open fa-2x" id="lock-nav-panel-unlock" hidden></i>
            <i class="fa fa-lock" id="lock-nav-panel-lock"></i>
            <span class="nav-text">
                <div class="position-absolute top-50 start-0 translate-middle-y">Lock Panel</div>
            </span>
        </a>
    </li>
    <script>
        document.getElementById("lock-nav-panel").addEventListener("click", (e) => {
            const tab_list = document.getElementById("nav-tab-list");
            const panel = document.getElementById("lock-nav-panel");
            tab_list.classList.toggle("expanded");
            const expanded = tab_list.classList.contains("expanded");
            panel.getElementsByTagName("div")[0].innerText = expanded ? "Unlock Panel" : "Lock Panel";
            const lock_icon = document.getElementById("lock-nav-panel-lock");
            const unlock_icon = document.getElementById("lock-nav-panel-unlock");
            if (expanded) {
                lock_icon.setAttribute("hidden", "hidden");
                unlock_icon.removeAttribute("hidden");
            } else {
                unlock_icon.setAttribute("hidden", "hidden");
                lock_icon.removeAttribute("hidden");
            }
        });
    </script>
{% endmacro %}
{% macro gen_tab(internal_name, tab_icon, tab_name, first, hidden) %}
    <li role="presentation">
        <a
            class="{% if first %}active{% endif %} py-2"
            id="nav-{{ internal_name }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-{{ internal_name }}"
            type="button"
            role="tab"
            aria-controls="nav-{{ internal_name }}"
            aria-selected="{{ 'true' if first else 'false' }}"
            {% if hidden %}hidden{% endif %}
        >
            <i class="fa {{ tab_icon }}"></i>
            <span class="nav-text">
                <div class="position-absolute top-50 start-0 translate-middle-y">{{ tab_name }}</div>
            </span>
        </a>
    </li>
{% endmacro %}