<nav id="rando_tabs">
    <div class="d-flex">
        <div class="nav nav-tabs flex-container flex-grow-1" id="nav-tab" role="tablist" style="border-bottom:none">
            <button class="nav-link bg-body active nav-item"
                    id="nav-started-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-started"
                    type="button"
                    role="tab"
                    aria-controls="nav-started"
                    aria-selected="true">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-bars-progress fa-xl"></i>
                    <span class="tab-full-name">Getting Started</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-random-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-random"
                    type="button"
                    role="tab"
                    aria-controls="nav-random"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-dice-six fa-xl"></i>
                    <span class="tab-full-name">Randomizers</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-overworld-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-overworld"
                    type="button"
                    role="tab"
                    aria-controls="nav-overworld"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-globe fa-xl"></i>
                    <span class="tab-full-name">Overworld</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-progression-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-progression"
                    type="button"
                    role="tab"
                    aria-controls="nav-progression"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-arrows-turn-to-dots fa-xl"></i>
                    <span class="tab-full-name">Progression</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-qol-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-qol"
                    type="button"
                    role="tab"
                    aria-controls="nav-qol"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-thumbs-up fa-xl"></i>
                    <span class="tab-full-name">Quality of Life</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-cosmetics-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-cosmetics"
                    type="button"
                    role="tab"
                    aria-controls="nav-cosmetics"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-palette fa-xl"></i>
                    <span class="tab-full-name">Cosmetics</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-music-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-music"
                    type="button"
                    role="tab"
                    aria-controls="nav-music"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-music fa-xl"></i>
                    <span class="tab-full-name">Music</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    style="display: none;"
                    id="nav-plando-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-plando"
                    type="button"
                    role="tab"
                    aria-controls="nav-plando"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-scroll fa-xl"></i>
                    <span class="tab-full-name">Plandomizer</span>
                </p>
            </button>
            <button class="nav-link bg-body nav-item"
                    id="nav-settings-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-settings"
                    type="button"
                    role="tab"
                    aria-controls="nav-settings"
                    style="display: none"
                    aria-selected="false">
                <p class="select-title d-flex">
                    <i class="fa-solid fa-circle-info fa-xl"></i>
                    <span class="tab-full-name">Seed Info</span>
                </p>
            </button>
        </div>
        {# {% include 'lightswitch.html' %} #}
    </div>
</nav>