{% from 'macros.html' import gen_tab, lock_tab %}
<ul id="rando_tabs" role="tablist">
    {{ gen_tab("started",       "fa-bars-progress",         "Getting Started",  true,   false) }}
    {{ gen_tab("item",          "fa-crown",                 "Items",            false,  false) }}
    {{ gen_tab("requirements",  "fa-list-check",            "Requirements",     false,  false) }}
    {{ gen_tab("overworld",     "fa-globe",                 "Overworld",        false,  false) }}
    {{ gen_tab("progression",   "fa-stopwatch-20",          "Endgame",          false,  false) }}
    {{ gen_tab("qol",           "fa-thumbs-up",             "Quality of Life",  false,  false) }}
    {{ gen_tab("cosmetics",     "fa-palette",               "Cosmetics",        false,  false) }}
    {{ gen_tab("music",         "fa-music",                 "Music",            false,  false) }}
    {{ gen_tab("plando",        "fa-scroll",                "Plandomizer",      false,  true) }}
    {{ gen_tab("settings",      "fa-file-lines",            "Settings",         false,  true) }}
    <div class="px-3">
        <div style="font-size: 0.9rem; color: #888">Search:</div>
        <input type="search" id="setting-search" />
    </div>
</ul>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script>
    document.getElementById("setting-search").addEventListener("input", (e) => {
        const search_value = document.getElementById("setting-search").value.trim();
        const containers = Array.from(document.querySelectorAll("label.form-check-label, .select-title"))
            .filter(c => !c.closest(".modal.fade"));

        containers.forEach(c => c.classList.remove("found-item"));
        const tabs = {};

        if (search_value.length > 0) {
            const fuse = new Fuse(containers, {
                keys: [{ name: "text", getFn: c => c.innerHTML.trim() }],
                threshold: 0.3,
                ignoreLocation: true,
                minMatchCharLength: 2,
            });
            fuse.search(search_value).forEach(({ item }) => {
                const tab = item.closest("div[role=tabpanel]");
                if (!tab) return;
                const tabname = `${tab.getAttribute("id")}-badge`;
                tabs[tabname] = (tabs[tabname] || 0) + 1;
                item.classList.add("found-item");
            });
        }

        const badges = document.getElementsByClassName("navbadge");
        for (let b = 0; b < badges.length; b++) {
            const badge_container = badges[b];
            const badge_name = badge_container.getAttribute("id");
            if (tabs[badge_name] > 0) {
                badge_container.removeAttribute("hidden");
                badge_container.innerHTML = tabs[badge_name];
            } else {
                badge_container.setAttribute("hidden", "hidden");
            }
        }
    });
</script>