<div class="nav nav-tabs flex-container" id="nav-tab" role="tablist">
    <button class="nav-link active nav-item"
            id="nav-started-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-started"
            type="button"
            role="tab"
            aria-controls="nav-started"
            aria-selected="true">
        <p class="select-title">Getting Started</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-random-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-random"
            type="button"
            role="tab"
            aria-controls="nav-random"
            aria-selected="false">
        <p class="select-title">Randomizers</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-overworld-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-overworld"
            type="button"
            role="tab"
            aria-controls="nav-overworld"
            aria-selected="false">
        <p class="select-title">Overworld</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-progression-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-progression"
            type="button"
            role="tab"
            aria-controls="nav-progression"
            aria-selected="false">
        <p class="select-title">Progression</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-qol-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-qol"
            type="button"
            role="tab"
            aria-controls="nav-qol"
            aria-selected="false">
        <p class="select-title">Quality of Life</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-cosmetics-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-cosmetics"
            type="button"
            role="tab"
            aria-controls="nav-cosmetics"
            aria-selected="false">
        <p class="select-title">Cosmetics</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-music-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-music"
            type="button"
            role="tab"
            aria-controls="nav-music"
            aria-selected="false">
        <p class="select-title">Music</p>
    </button>
    <button class="nav-link nav-item"
            style="display: none;"
            id="nav-plando-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-plando"
            type="button"
            role="tab"
            aria-controls="nav-plando"
            aria-selected="false">
        <p class="select-title">Plandomizer</p>
    </button>
    <button class="nav-link nav-item"
            id="nav-settings-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-settings"
            type="button"
            role="tab"
            aria-controls="nav-settings"
            style="display: none"
            aria-selected="false">
        <p class="select-title">Seed Info</p>
    </button>
</div>
