{% from 'macros.html' import gen_tab, lock_tab %}
<ul id="rando_tabs" role="tablist">
    {{ gen_tab("started",       "fa-bars-progress",         "Getting Started",  true,   false) }}
    {{ gen_tab("item",          "fa-crown",                 "Items",            false,  false) }}
    {{ gen_tab("requirements",  "fa-list-check",            "Requirements",     false,  false) }}
    {{ gen_tab("overworld",     "fa-globe",                 "Overworld",        false,  false) }}
    {{ gen_tab("progression",   "fa-stopwatch-20",          "Endgame",          false,  false) }}
    {{ gen_tab("qol",           "fa-thumbs-up",             "Quality of Life",  false,  false) }}
    {{ gen_tab("cosmetics",     "fa-palette",               "Cosmetics",        false,  false) }}
    {{ gen_tab("music",         "fa-music",                 "Music",            false,  false) }}
    {{ gen_tab("plando",        "fa-scroll",                "Plandomizer",      false,  true) }}
    {{ gen_tab("settings",      "fa-file-lines",            "Settings",         false,  true) }}
    <div class="px-3">
        <div style="font-size: 0.9rem; color: #888">Search:</div>
        <input type="search" id="setting-search" />
    </div>
</ul>
<script>
    document.getElementById("setting-search").addEventListener("input", (e) => {
        const search_value = document.getElementById("setting-search").value.toLowerCase();
        const containers = document.querySelectorAll("label.form-check-label, p.select-title");
        let tabs = {};
        containers.forEach(c => {
            if (!c.closest(".modal.fade")) {
                if (search_value.trim().length > 0) {
                    const value = c.innerHTML.trim().toLowerCase();
                    if (value.includes(search_value)) {
                        const tab = c.closest("div[role=tabpanel]");
                        const tabname = `${tab.getAttribute("id")}-badge`;
                        if (!Object.keys(tabs).includes(tabname)) {
                            tabs[tabname] = 0;
                        }
                        tabs[tabname]++;
                        c.classList.add("found-item");
                        return;
                    }
                }
                c.classList.remove("found-item");
            }
        });
        const badges = document.getElementsByClassName("navbadge");
        for (let b = 0; b < badges.length; b++) {
            const badge_container = badges[b];
            const badge_name = badge_container.getAttribute("id");
            if (Object.keys(tabs).includes(badge_name)) {
                if (tabs[badge_name] > 0) {
                    badge_container.removeAttribute("hidden");
                    badge_container.innerHTML = tabs[badge_name];
                    continue;
                }
            }
            badge_container.setAttribute("hidden", "hidden");
        }
    });
</script>