<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active"
            id="nav-random-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-random"
            type="button"
            role="tab"
            aria-controls="nav-random"
            aria-selected="true">
        Randomizers
    </button>
    <button class="nav-link"
            id="nav-difficulty-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-difficulty"
            type="button"
            role="tab"
            aria-controls="nav-difficulty"
            aria-selected="false">
        Difficulty
    </button>
    <button class="nav-link"
            id="nav-overworld-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-overworld"
            type="button"
            role="tab"
            aria-controls="nav-overworld"
            aria-selected="false">
        Overworld Settings
    </button>
    <button class="nav-link"
            id="nav-qol-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-qol"
            type="button"
            role="tab"
            aria-controls="nav-qol"
            aria-selected="false">
        Quality of Life
    </button>
    <button class="nav-link"
            id="nav-cosmetics-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-cosmetics"
            type="button"
            role="tab"
            aria-controls="nav-cosmetics"
            aria-selected="false">
        Cosmetics
    </button>
    <button class="nav-link"
            id="nav-settings-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-settings"
            type="button"
            role="tab"
            aria-controls="nav-settings"
            style="display: none;"
            aria-selected="false">
        Seed Info
    </button>
</div>
