<div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-random-tab" data-bs-toggle="tab" data-bs-target="#nav-random" type="button" role="tab" aria-controls="nav-random" aria-selected="true">
        Randomizers
    </button>
    <button class="nav-link" id="nav-progression-tab" data-bs-toggle="tab" data-bs-target="#nav-progression" type="button" role="tab" aria-controls="nav-progression" aria-selected="false">
        Level Progression
    </button>
    <button class="nav-link" id="nav-misc-tab" data-bs-toggle="tab" data-bs-target="#nav-misc" type="button" role="tab" aria-controls="nav-misc" aria-selected="false">
        Miscellaneous
    </button>
    <button class="nav-link" id="nav-spoiler-tab" data-bs-toggle="tab" data-bs-target="#nav-spoiler" type="button" role="tab" aria-controls="nav-spoiler" style="display: none;" aria-selected="false">
        Spoiler Log
    </button>
</div>
