{% from 'macros.html' import toggle_input, list_selector, properties_selector %}
{% from 'dropdown_multiselector.html' import dropdown_multiselector %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border panel">
            <h2 class="title">WORLD NAVIGATION</h2>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Entrance Randomizer</p>
                    <select name="level_randomization"
                            id="level_randomization"
                            display_name="Entrance Randomizer"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines how entrances are randomized and placed.&#10;-Level Order: Randomize only the order that the levels are in.&#10;-Complex Level Order: Same as 'Level Order', but the order of level entry won't be linear. Additionally, other protections that regular Level Order enforces to make it better to play will be removed.&#10;-Loading Zones: Randomize every entrance except for Helm/Helm Lobby.&#10;-Decoupled Loading Zones: Randomize every entrance except for Helm/Helm Lobby. Going back through a entrance will take you somewhere else.&#10;-Vanilla: All entrances are the same as the base game.">
                        <option selected value="level_order">
                            Level Order
                        </option>
                        <option value="level_order_complex">
                            Complex Level Order
                        </option>
                        <option value="loadingzone">
                            Loading Zones
                        </option>
                        <option value="loadingzonesdecoupled">
                            Decoupled Loading Zones
                        </option>
                        <option value="vanilla">
                            Vanilla
                        </option>
                    </select>
                    <div class="form-check form-switch" style="padding-top:10px;">
                        <label data-toggle="tooltip"
                                style="font-size:14px;"
                                title="Shuffle the location of Hideout Helm. If enabled, Helm and Helm Lobby will be in random locations.">
                            <input class="form-check-input"
                                    type="checkbox"
                                    name="shuffle_helm_location"
                                    id="shuffle_helm_location"
                                    display_name="Shuffle Helm Location / Include Helm"
                                    value="True"/>
                            <span id="shuffle_helm_location_label">Shuffle Helm Location</span>
                        </label>
                    </div>
                </div>
                <div class="item-select">
                    <p class="select-title">Cross-Map Bananaports</p>
                    <select name="bananaport_rando"
                            id="bananaport_rando"
                            display_name="Cross-Map Bananaports"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Random mappings of bananaport locations.">
                        <option id="off" selected value="off">
                            Off
                        </option>
                        <option id="crossmap_coupled" value="crossmap_coupled" title="Taking a Bananaport may take you to a different level.">
                            Coupled
                        </option>
                        <option id="crossmap_decoupled" value="crossmap_decoupled" title="Taking a Bananaport may take you to a different level. Going back through a Bananaport will take you somewhere else.">
                            Decoupled
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Random Starting Location</p>
                    <select name="random_starting_region_new"
                            id="random_starting_region_new"
                            display_name="Random Starting Location"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Randomizes the location you spawn in when starting a new file and when selecting the 'Exit to Spawn' option.">
                        <option id="off" selected value="off">
                            Off
                        </option>
                        <option id="isles_only" value="isles_only" title="Will only spawn you in the Isles Main map.">
                            Isles Main Only
                        </option>
                        <option id="all" value="all" title="Will spawn you from any map.">
                            On
                        </option>
                    </select>
                </div>
                {% include "complex-options/kong-models.html" %}
            </div>
            <hr />
            <h2 class="title">LOCATION RANDOMIZERS</h2>
            <div class="flex-container">
                {{ toggle_input("random_patches", "Random Dirt Patch Locations", "Dirt Patches for Rainbow Coins are in random locations.", False, "Dirt Patches") }}
                {{ toggle_input("coin_rando", "Random Banana Coin Locations", "Shuffle the locations of coins within each Level.", False, "Banana Coins") }}
                {{ toggle_input("race_coin_rando", "Random Race Coin Locations", "Shuffle the locations of race coins to be placed inside levels instead of courses. You will have to pick up enough race coins in the levels in order to beat a race. Any minecart section will be auto-completed upon entering the course with enough coins. Other races will still require winning the race. Obtaining a race reward does not consume coins.", False, "Race Coins") }}
                {{ toggle_input("random_fairies", "Random Banana Fairy Locations", "Fairy checks are in random locations.", False, "Banana Fairies") }}
                {{ toggle_input("crown_placement_rando", "Random Battle Crown Pad Locations", "Crown Locations are randomized. There's 1 in each level, except Isles which has two.", False, "Battle Crowns") }}
                {{ toggle_input("random_crates", "Random Melon Crate Locations", "Melon Crate Locations are randomized.", False, "Melon Crates") }}
                {{ toggle_input("randomize_pickups", "Randomize Pickups", "All Replenishables in the game are randomized.&#10;*Homing Ammo, Regular Ammo, Oranges, Film, Crystals") }}
                {{ toggle_input("shuffle_shops", "Shuffle Shop Locations", "Shuffle the locations of shops (including Snides) within each Level/Isles.") }}
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="Colored Banana Locations are randomized.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="cb_rando_enabled"
                                id="cb_rando_enabled"
                                display_name="Randomize CB Locations"
                                value="True"/>
                        Colored Bananas
                    </label>
                    {{ list_selector(cb_rando_levels, "cb_rando_list", "LEVELS", "This will open a popup that will let you customize what levels have CB rando in the game.&#10;This defaults to All options.", 8, 1) }}
                {# Remove end </div> as it's included in the macro for formatting #}
                <div class="spacer"></div>
            </div>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Kasplats</p>
                    <select name="kasplat_rando_setting"
                            id="kasplat_rando_setting"
                            display_name="Random Kasplat Locations"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines if and how Kasplats are randomized.&#10;-Vanilla: Kasplats are in their vanilla locations.&#10;-Vanilla Locations: Random placement of kasplats between existing spawns.&#10;-Location Shuffle: Random placement of kasplats with new and interesting locations.">
                        <option id="off" selected value="off">
                            Vanilla
                        </option>
                        <option id="vanilla_locations" value="vanilla_locations">
                            Vanilla Locations
                        </option>
                        <option id="location_shuffle" value="location_shuffle">
                            Location Shuffle
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Bananaports</p>
                    <div class="d-flex">
                        <select name="bananaport_placement_rando"
                                id="bananaport_placement_rando"
                                display_name="Random Bananaport Locations"
                                class="form-select"
                                aria-label="Randomization type"
                                data-toggle="tooltip"
                                title="Shuffle the locations of bananaports within each Level.&#10;-Off: Bananaports are in their vanilla locations.&#10;-Vanilla Only: Random placement of bananaports solely within the pool of vanilla locations.&#10;-Half-Vanilla: One bananaport in each pair is vanilla, the other is in a random location.&#10;-On: Both bananaports in each pair are in a random location (with a couple exceptions for technical reasons).">
                            <option id="off" selected value="off">
                                Off
                            </option>
                            <option id="vanilla_only" value="vanilla_only">
                                Vanilla Only
                            </option>
                            <option id="half_vanilla" value="half_vanilla">
                                Half-Vanilla
                            </option>
                            <option id="on" value="on">
                                On
                            </option>
                        </select>
                        <div style="padding: 5px;">
                            {{ list_selector(vanilla_warps, "warp_level_list", "LEVEL SELECTOR", "This will open a popup that will let you customize what levels' warps are in the pool. Any level not selected will have its vanilla warp locations.&#10;This defaults to All levels.", 10, 1) }}
                        {# Remove end </div> as it's included in the macro for formatting #}
                    </div>
                </div>
            </div>
            <div class="flex-container" style="margin-top: 20px;">
                {{ toggle_input("wrinkly_location_rando", "Random Wrinkly Door Locations", "Wrinkly Door Locations are randomized within levels and their respective lobbies.", False, "Wrinkly Doors") }}
                {{ toggle_input("tns_location_rando", "Random Troff 'n' Scoff Portal Locations", "T&S Portal Locations are randomized.", False, "Troff 'n' Scoff Portals") }}
                {{ toggle_input("vanilla_door_rando", "Vanilla Door Shuffle", "Wrinkly Doors and T&S Portals are only shuffled among the vanilla locations for one another. T&S Portals cannot appear in level lobbies.") }}
                {{ toggle_input("dos_door_rando", "Dos' Doors", "Vanilla Door Shuffle with some restrictions:&#10;- One T&S per level&#10;- One hint door in each lobby&#10;- DK Portal Rando enabled") }}
                <div class="item-select">
                    <p class="select-title">DK Portals</p>
                    <select name="dk_portal_location_rando_v2"
                            id="dk_portal_location_rando_v2"
                            display_name="Random DK Portal Locations"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="DK Portal Locations are randomized.">
                        <option id="off" selected value="off">
                            Vanilla
                        </option>
                        <option id="main_only" value="main_only" title="Will only place portals in the main level maps of the 7 levels, and not any sub-areas">
                            Main Maps only
                        </option>
                        <option id="on" value="on" title="Can place portals in any level or sub-area">
                            On
                        </option>
                    </select>
                </div>
            </div>
            <hr />
            <h2 class="title">BOSSES</h2>
            <div class="flex-container">
                {{ toggle_input("boss_location_rando", "Shuffle Boss Location", "The boss you can get in a level is different than normal.") }}
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="K. Rool phases can be found in the T&S, and T&S bosses can be encountered as an endgame phase.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="krool_in_boss_pool"
                                id="krool_in_boss_pool"
                                display_name="Shuffle Boss Kong Required"
                                value="True"/>
                        K Rool Phases as Bosses
                    </label>
                </div>
            </div>
        </div>
        <div class="col border panel">
            <h2 class="title">ENEMIES</h2>
            <div class="flex-container">
                {{ dropdown_multiselector(enemies, "enemies", "Shuffled Enemies", "This will open a popup that will let you customize what enemies appear in the game.&#10;This defaults to All options.", 16, 1) }}
                <div class="item-select">
                    <p class="select-title">Crown Enemies</p>
                    <select name="crown_enemy_difficulty"
                            id="crown_enemy_difficulty"
                            display_name="Crown Enemy Randomizer"
                            class="form-select"
                            aria-label="Crown Enemy Randomizer"
                            data-toggle="tooltip"
                            title="Battle Crown Enemies are Randomized.&#10;-Vanilla: No crown enemy randomization will take place.&#10;-Easy: Crown enemies are randomized with a bias towards the easier enemies.&#10;-Medium: Crown enemies are randomized with a bias towards the medium-difficulty enemies.&#10;-Hard: Crown enemies are randomized with a bias towards the hardest enemies.&#10;-Progresive: The difficulty of crowns will scale up as you progress through the game.">
                        <option selected id="vanilla" value="vanilla">
                            Vanilla
                        </option>
                        <option id="easy" value="easy">
                            Easy
                        </option>
                        <option id="medium" value="medium">
                            Medium
                        </option>
                        <option id="hard" value="hard">
                            Hard
                        </option>
                        <option id="progressive" value="progressive">
                            Progressive Difficulty
                        </option>
                    </select>
                </div>
                {{ toggle_input("enemy_speed_rando", "Random Enemy Speed", "Enemy speeds are randomized.") }}
                {{ toggle_input("randomize_enemy_sizes", "Random Enemy Size", "The size of enemies is randomized.") }}
            </div>
            <hr />
            <h2 class="title">BONUS BARRELS</h2>
            <div class="flex-container">
                {{ dropdown_multiselector(minigames, "minigames_list", "Shuffled Bonus Barrels", "This will open a dropdown that will let you customize what Bonus Games are in the pool.", 18, 1) }}
                <div class="spacer"></div>
                {{ toggle_input("disable_hard_minigames", "Disable Hard Minigames", "Disables harder minigames.") }}
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                        title="Bonus Barrels outside of Helm auto complete.">
                        <input class="form-check-input"
                        type="checkbox"
                        name="bonus_barrel_auto_complete"
                        id="bonus_barrel_auto_complete"
                        display_name="Auto Complete Bonus Barrels"
                        value="True"/>
                        Auto Complete Bonus Barrels
                    </label>
                </div>
                {{ toggle_input("alt_minecart_mayhem", "Alternate Minecart Mayhem", "Changes Minecart Mayhem to be a coin collection minigame instead of an endurance minigame.") }}
                <div class="spacer"></div>
            </div>
            <hr />
            <h2 class="title">DIFFICULTY</h2>
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Tag Barrels, Boss Fights, Candy Upgrades etc don't heal you like they normally would.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="no_healing"
                               display_name="No Heals"
                               value="True"/>
                        No Heals
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip" title="No melons are dropped from enemies.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="no_melons"
                               display_name="No Melon Slice Drops"
                               value="True"/>
                        No Melon Slice Drops
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Ice Traps damage you.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="ice_traps_damage"
                               id="ice_traps_damage"
                               display_name="Ice Traps Damage Player"
                               value="True"/>
                        Ice Traps Damage Player
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="The game is horizontally mirrored.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="mirror_mode"
                               id="mirror_mode"
                               display_name="Mirror Mode"
                               value="True"/>
                        Mirror Mode
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                    title="When a kong dies you can no longer use the kong excluding for boss fights, you can enter any boss arena with any kong and it will force you to the required kong, if a kong is dead all moves will be granted.&#10;WARNING: Seeds might become unbeatable.">
                        <input class="form-check-input"
                            type="checkbox"
                            name="perma_death"
                            display_name="Irondonk"
                            value="True"/>
                        Irondonk
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                    title="Disables tag barrels from spawning.">
                        <input class="form-check-input"
                        type="checkbox"
                        name="disable_tag_barrels"
                        id="disable_tag_barrels"
                        display_name="Tag Barrels Disabled"
                        value="True"/>
                        Tag Barrels Disabled
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="Donkey Kong 64 with a few twists:&#10;- Hideout Helm timer starts as soon as you load up a file.&#10;- Picking up a blueprint gives you 2 extra minutes on the clock. Each kong freed gives you 5 minutes. Every Golden Banana collected gives you 30 seconds.&#10;- As soon as the time runs out, saving is disabled on your file.&#10;Aim is to get the highest percentage you can before the clock runs out.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="helm_hurry"
                                id="helm_hurry"
                                display_name="Helm Hurry Mode"
                                value="True"/>
                        Helm Hurry Mode
                    </label>
                    {{ properties_selector(helm_hurry_items, "helmhurry_list", "HELM HURRY SELECTOR", "This will open a popup that will let you customize what how much time each item will give you.") }}
                {# Remove end </div> as it's included in the macro for formatting #}
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                    title="Prevents consumable upgrades (Ammo Belts, Instrument Upgrades) from being placed in the game. You can still start with them.">
                        <input class="form-check-input"
                        type="checkbox"
                        name="no_consumable_upgrades"
                        id="no_consumable_upgrades"
                        display_name="No Consumable Upgrades"
                        value="True"/>
                        No Consumable Upgrades
                    </label>
                </div>
            </div>
            <div class="flex-container">
                {{ dropdown_multiselector(hard_mode, "hard_mode", "Hard Mode", "This will open a dropdown that will let you customize what hard mode Options are active.", 10) }}
                {{ dropdown_multiselector(hard_bosses, "hard_bosses", "Hard Bosses", "This will open a dropdown that will let you customize what bosses are made harder.", 10) }}
                <div class="item-select">
                    <p class="select-title">Damage</p>
                    <select name="damage_amount"
                            id="damage_amount"
                            display_name="Damage Multiplier"
                            class="form-select center-div"
                            aria-label="Damage Options">
                        <option selected value="default">
                            Normal
                        </option>
                        <option value="ohko">
                            OHKO
                        </option>
                        <option value="double">
                            Double Damage
                        </option>
                        <option value="quad">
                            Quad Damage
                        </option>
                    </select>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
