<style>
    .plando-container {
        padding: 24px 0;
    }

    .plando-pills {
        align-items: center;
        justify-content: center;
    }

    .plando-pill {
        flex: 0 0 16%;
    }

    .kong-section {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .location-picker {
        margin: 0 16px 32px;
        width: 30%;
    }

    .location-label {
        margin-bottom: 4px;
    }

    .shop-cost-picker {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4px;
    }

    .shop-cost-input {
        margin: 0 4px;
        width: 20px;
    }
</style>
<!-- Fix h2 to h5 on the Getting Staretd page. -->
<!-- Allow the user to specify which Kong frees which Kong. -->
<!-- Valid hint text contains letters, spaces, and ,.!?- -->
<!-- Enforce word length limit on hint text (exact length TBD). -->
<!-- Find a better name for the first panel. -->
<!-- Add starting items. -->
<!-- Add starting Kongs. -->
<!-- Specify level order. -->
<!-- Specify mini-games. -->
<!-- Blueprint rewards cannot be shuffled. Force them to be Golden Bananas. -->
<!-- Add an option to ensure 101% or just beatability. -->
<div class="container border plando-container" style="margin-top: 20px;">
    <div id="plando-content">
        <!-- The navigation panel. -->
        <div class="nav nav-pills flex-container plando-pills" id="plando-nav-tab" role="tablist">
            <button class="nav-link active nav-item plando-pill"
                    id="nav-plando-starting-items-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-plando-starting-items"
                    type="button"
                    role="tab"
                    aria-controls="nav-plando-starting-items"
                    aria-selected="true">
                <p class="select-title">Starting Items</p>
            </button>
            {% for panelName, panel in (plando_locations|plando_panel_restrict).items() %}
                <button class="nav-link nav-item plando-pill"
                        id="nav-plando-{{panelName}}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nav-plando-{{panelName}}"
                        type="button"
                        role="tab"
                        aria-controls="nav-plando-{{panelName}}"
                        aria-selected="false">
                    <p class="select-title">{{panel["display_name"]}}</p>
                </button>
            {% endfor %}
        </div>
        <!-- The individual level tabs are populated here. Only one will show at a time. -->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active"
                id="nav-plando-starting-items"
                role="tabpanel"
                aria-labelled-by="nav-plando-starting-items-tab">
                Currently an empty tab!
            </div>
            {% for panelName, panel in (plando_locations|plando_panel_restrict).items() %}
                <div class="tab-pane fade"
                    id="nav-plando-{{panelName}}"
                    role="tabpanel"
                    aria-labelledby="nav-plando-{{panelName}}-tab">
                    <h2 class="title">{{panel["display_name"]}}</h2>
                    {% for kong, locations in panel["locations"].items() %}
                        <h3 class="title">{{kong}}</h3>
                        <div class="kong-section">
                            {# We handle shops just differently enough that
                                we'll use an if statement here. #}
                            {% if panelName == "Shops" %}
                                {% for location in locations|plando_shop_sort %}
                                    <div class="location-picker">
                                        <label for="{{location["enum_name"]}}_plando" class="location-label">
                                            {{location["display_name"]}}
                                        </label>
                                        <select id="{{location["enum_name"]}}_plando"
                                                name="{{location["enum_name"]}}_plando"
                                                class="form-select">
                                            <option value="">-- Randomize --</option>
                                            {% for item in plando_items|plando_item_restrict(location) %}
                                                <option value="{{item["enum_name"]}}">{{item["display_name"]}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="shop-cost-picker">
                                            Item Cost:
                                            <input type="number"
                                                    min="1"
                                                    max="100"
                                                    step="1"
                                                    id="{{location["enum_name"]}}_plando_shop_cost"
                                                    name="{{location["enum_name"]}}_plando_shop_cost"
                                                    class="form-control shop-cost-input">
                                            Coins
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for location in locations %}
                                    <div class="location-picker">
                                        <label for="{{location["enum_name"]}}_plando" class="location-label">
                                            {{location["display_name"]}}
                                        </label>
                                        <!-- Most panels will use a dropdown here, but
                                             hints will use a text input. -->
                                        {% if panelName == "Hints" %}
                                            <div>
                                                <input id="{{location["enum_name"]}}_plando"
                                                    name="{{location["enum_name"]}}_plando"
                                                    placeholder="Enter hint text."
                                                    maxlength="900"
                                                    class="form-control">
                                            </div>
                                        {% else %}
                                            <select id="{{location["enum_name"]}}_plando"
                                                    name="{{location["enum_name"]}}_plando"
                                                    class="form-select">
                                                <option value="">-- Randomize --</option>
                                                {% for item in plando_items|plando_item_restrict(location) %}
                                                    <option value="{{item["enum_name"]}}">{{item["display_name"]}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        })
    })
</script>
