{% from 'macros.html' import list_selector, slider_input %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border panel">
            <h2 class="title">ENDGAME OPTIONS</h2>
            <div class="flex-container">
                <!-- Logic -->
                {% include "complex-options/logic-toggle.html" %}
                <!-- Win Condition -->
                <div class="item-select">
                    <p class="select-title">Win Condition</p>
                    <div class="d-flex select-number-container" id="win_condition_container">
                        <select name="win_condition_item"
                                id="win_condition_item"
                                display_name="Win Condition"
                                class="form-select center-div"
                                aria-label="Win Condition"
                                data-toggle="tooltip"
                                title="Alter the condition required to show the credits.">
                            <option selected id="beat_krool" value="beat_krool" title="">
                                Beat K Rool
                            </option>
                            <option id="get_key8" value="get_key8">
                                Acquire Key 8
                            </option>
                            <option id="krem_kapture" value="krem_kapture" title="Photograph all enemies using the fairy camera">
                                Kremling Kapture
                            </option>
                            <option id="dk_rap_items" value="dk_rap_items" title="Acquire all items referenced in the DK Rap">
                                Complete the DK Rap
                            </option>
                            <option id="krools_challenge" value="krools_challenge" title="Beat K. Rool and collect all Keys, Blueprints, Bosses, and Bonus Barrels">
                                Krool's Challenge
                            </option>
                            <option id="kill_the_rabbit" value="kill_the_rabbit" title="Kill the rabbit in Chunky's igloo in Caves. Turn it to Ash. Simple as that.">
                                Kill the Rabbit
                            </option>
                            <option id="easy_random" value="easy_random">
                                Random (Easy)
                            </option>
                            <option id="medium_random" value="medium_random">
                                Random (Medium)
                            </option>
                            <option id="hard_random" value="hard_random">
                                Random (Hard)
                            </option>
                            <option id="req_gb" value="req_gb">
                                Golden Bananas
                            </option>
                            <option id="req_bp" value="req_bp">
                                Blueprints
                            </option>
                            <option id="req_companycoins" value="req_companycoins">
                                Company Coins
                            </option>
                            <option id="req_key" value="req_key">
                                Keys
                            </option>
                            <option id="req_medal" value="req_medal">
                                Medals
                            </option>
                            <option id="req_crown" value="req_crown">
                                Crowns
                            </option>
                            <option id="req_fairy" value="req_fairy">
                                Fairies
                            </option>
                            <option id="req_rainbowcoin" value="req_rainbowcoin">
                                Rainbow Coins
                            </option>
                            <option id="req_bean" value="req_bean">
                                Bean
                            </option>
                            <option id="req_pearl" value="req_pearl">
                                Pearls
                            </option>
                            <option id="req_bosses" value="req_bosses">
                                Bosses
                            </option>
                            <option id="req_bonuses" value="req_bonuses">
                                Bonuses
                            </option>
                        </select>
                        <input min="0"
                                max="255"
                                name="win_condition_count"
                                id="win_condition_count"
                                display_name="Win Condition Item Count"
                                class="form-control center-div"
                                type="number"
                                data-toggle="tooltip"
                                title="Amount of the item specified to beat the game."
                                default="1"
                                placeholder="1"/>
                    </div>
                </div>
            </div>
            <hr />
            <h5 class="select-title">Keys Required To Beat K. Rool
                <label data-toggle="tooltip"
                        title="Selects a random amount of pre-turned in Keys.&#10;i.e. Selecting '5' means 3 keys will be pre-turned in and you need 5 more.">
                    <input class="dice_checkbox"
                            type="checkbox"
                            name="keys_random"
                            id="keys_random"
                            display_name="Randomize Keys Required to Beat K. Rool"
                            onchange="toggle_clicks()"
                            value="True"/>
                    <label for="keys_random"></label>
                </label></h5>
            <div class="flex-container" style="justify-content: space-between; width: 90%; margin: auto;">
                <div style="display: flex;">Start with More Keys</div>
                <div style="display: flex;">Start with Fewer Keys</div>
            </div>
            <div class="flex-container flex-center">
                {{ slider_input("krool_key_count", "Keys required to Beat K. Rool", 0, 8) }}
            </div>
            <div class="form-check form-switch item-switch center-flex">
                <label data-toggle="tooltip" title="Select the keys you are guaranteed start with.">
                    <input class="form-check-input"
                            type="checkbox"
                            name="select_keys"
                            id="select_keys"
                            display_name="Guaranteed Starting Keys"
                            onchange="toggle_clicks()"
                            value="True"/>
                    Guaranteed Starting Keys
                </label>
                {{ list_selector(keys, "starting_keys_list", "STARTING KEYS SELECTOR", "This will open a popup that will let you customize what Keys you start with.&#10;This defaults to starting with no keys if none are selected.", 8) }}
            {# List selector skips a closing div #}
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="Lock a key in Helm. The key will correspond to Helm's place in the level order. In non-complex Level order shuffle, this also forces Key 8 to be in the eighth level.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="key_8_helm"
                                id="key_8_helm"
                                display_name="Helm Key Lock"
                                value="True"/>
                        Helm Key Lock
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="Make it required to get Key 8 or leave it up to chance.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="krool_access"
                                id="krool_access"
                                display_name="Key 8 Required"
                                value="True"
                                title="Make it such that Key 8 cannot be one of the random starting Keys."/>
                        Key 8 Required
                    </label>
                </div>
            </div>
            <hr>
            <h5 class="select-title">Number of Starting Kongs
                <label data-toggle="tooltip"
                        title="Selects a random value from Slider to determine how many kongs you start with.">
                    <input class="dice_checkbox"
                            type="checkbox"
                            name="starting_random"
                            id="starting_random"
                            display_name="Randomize number of starting Kongs"
                            onchange="toggle_clicks()"
                            value="True"/>
                    <label for="starting_random"></label>
                </label>
            </h5>
            {{ slider_input("starting_kongs_count", "Starting Kongs count", 1, 5) }}
            <div class="flex-container" style="justify-content: center;">
                <div class="item-select">
                    <p class="select-title">Select Starting Kong</p>
                    <select name="starting_kong"
                            id="starting_kong"
                            display_name="Selected Starting Kongs"
                            class="form-select center-div"
                            aria-label="Door 1 Requirements"
                            data-toggle="tooltip"
                            title="Specify your starting Kong. This kong will always be included in your starting set. Leave as Any to remain random.">
                        <option selected id="any" value="any">
                            Any
                        </option>
                        <option id="donkey" value="donkey">
                            Donkey
                        </option>
                        <option id="diddy" value="diddy">
                            Diddy
                        </option>
                        <option id="lanky" value="lanky">
                            Lanky
                        </option>
                        <option id="tiny" value="tiny">
                            Tiny
                        </option>
                        <option id="chunky" value="chunky">
                            Chunky
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col border panel">
            <h2 class="title">HELM</h2>
            <!-- Helm Length -->
            <h5 class="select-title">
                Helm Length
                <label data-toggle="tooltip"
                        title="Selects a random number of rooms that need to be completed in Hideout Helm.">
                    <input class="dice_checkbox"
                            type="checkbox"
                            name="helm_random"
                            onchange="toggle_clicks()"
                            id="helm_random"
                            display_name="Random Helm Length"
                            value="True"/>
                    <label for="helm_random"></label>
                </label>
            </h5>
            <div>
                {{ slider_input("helm_phase_count", "Helm Length", 1, 5) }}
            </div>
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                            title="The order of the Helm minigame rooms will randomly order the sequence.">
                        <input class="form-check-input"
                                type="checkbox"
                                name="helm_phase_order_rando"
                                display_name="Shuffle Helm Rooms"
                                value="True"/>
                        Shuffle Helm Rooms
                    </label>
                </div>
                <div class="spacer"></div>
            </div>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Helm Start Location</p>
                    <select name="helm_setting"
                            id="helm_setting"
                            display_name="Helm Start Location"
                            class="form-select center-div"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="This option will shorten the time it takes to beat Hideout Helm.&#10;Skip Start adds the following changes:&#10;- You will spawn in the Blast o Matic room.&#10;- Opens the roman numeral doors to each Kong's room.&#10;- The gates in front of the music pads are gone.&#10;Skip All: Spawns you at the crown door.">
                        <option selected value="default">
                            Vanilla
                        </option>
                        <option value="skip_start">
                            Skip Start
                        </option>
                        <option value="skip_all">
                            Skip All
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Helm Room Bonus Count</p>
                    <select name="helm_room_bonus_count"
                            id="helm_room_bonus_count"
                            display_name="Helm Room Bonus Count"
                            class="form-select center-div"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines how many bonus barrels are required to beat a helm room. If set to zero, playing the instrument pad will complete a helm room.">
                        <option selected value="two">
                            Two
                        </option>
                        <option value="one">
                            One
                        </option>
                        <option value="zero">
                            Zero
                        </option>
                    </select>
                </div>
            </div>
            <h5 class="select-title">Helm Door Requirements</h5>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Door 1 Requirements</p>
                    <div class="d-flex select-number-container" id="door_1_container">
                        <select name="crown_door_item"
                                id="crown_door_item"
                                display_name="Helm Door 1 Requirement Item"
                                class="form-select center-div"
                                aria-label="Door 1 Requirements"
                                data-toggle="tooltip"
                                title="Changes the requirement to open the first door in Helm">
                            <option selected id="vanilla" value="vanilla" title="">
                                Vanilla (Crowns)
                            </option>
                            <option id="opened" value="opened">
                                Opened
                            </option>
                            <option id="easy_random" value="easy_random">
                                Random (Easy)
                            </option>
                            <option id="medium_random" value="medium_random">
                                Random (Medium)
                            </option>
                            <option id="hard_random" value="hard_random">
                                Random (Hard)
                            </option>
                            <option id="req_gb" value="req_gb">
                                Golden Bananas
                            </option>
                            <option id="req_bp" value="req_bp">
                                Blueprints
                            </option>
                            <option id="req_companycoins" value="req_companycoins">
                                Company Coins
                            </option>
                            <option id="req_key" value="req_key">
                                Keys
                            </option>
                            <option id="req_medal" value="req_medal">
                                Medals
                            </option>
                            <option id="req_fairy" value="req_fairy">
                                Fairies
                            </option>
                            <option id="req_rainbowcoin" value="req_rainbowcoin">
                                Rainbow Coins
                            </option>
                            <option id="req_bean" value="req_bean">
                                Bean
                            </option>
                            <option id="req_pearl" value="req_pearl">
                                Pearls
                            </option>
                        </select>
                        <input min="0"
                            max="255"
                            name="crown_door_item_count"
                            id="crown_door_item_count"
                            display_name="Helm Door 1 Requirement Count"
                            class="form-control center-div"
                            type="number"
                            data-toggle="tooltip"
                            title="Amount of the item specified to open the door."
                            default="1"
                            placeholder="1"/>
                    </div>
                </div>
                <div class="item-select">
                    <p class="select-title">Door 2 Requirements</p>
                    <div class="d-flex select-number-container" id="door_2_container">
                        <select name="coin_door_item"
                                id="coin_door_item"
                                display_name="Helm Door 2 Requirement Item"
                                class="form-select center-div"
                                aria-label="Door 2 Requirements"
                                data-toggle="tooltip"
                                title="Changes the requirement to open the second door in Helm">
                            <option selected id="vanilla" value="vanilla" title="">
                                Vanilla (Company Coins)
                            </option>
                            <option id="opened" value="opened">
                                Opened
                            </option>
                            <option id="easy_random" value="easy_random">
                                Random (Easy)
                            </option>
                            <option id="medium_random" value="medium_random">
                                Random (Medium)
                            </option>
                            <option id="hard_random" value="hard_random">
                                Random (Hard)
                            </option>
                            <option id="req_gb" value="req_gb">
                                Golden Bananas
                            </option>
                            <option id="req_bp" value="req_bp">
                                Blueprints
                            </option>
                            <option id="req_key" value="req_key">
                                Keys
                            </option>
                            <option id="req_medal" value="req_medal">
                                Medals
                            </option>
                            <option id="req_crown" value="req_crown">
                                Crowns
                            </option>
                            <option id="req_fairy" value="req_fairy">
                                Fairies
                            </option>
                            <option id="req_rainbowcoin" value="req_rainbowcoin">
                                Rainbow Coins
                            </option>
                            <option id="req_bean" value="req_bean">
                                Bean
                            </option>
                            <option id="req_pearl" value="req_pearl">
                                Pearls
                            </option>
                        </select>
                        <input min="0"
                            max="255"
                            name="coin_door_item_count"
                            id="coin_door_item_count"
                            display_name="Helm Door 2 Requirement Count"
                            class="form-control center-div"
                            type="number"
                            data-toggle="tooltip"
                            title="Amount of the item specified to open the door."
                            default="1"
                            placeholder="1"/>
                    </div>
                </div>
            </div>
            <div id="krool_section">
                <hr />
                <h2 class="title">K. ROOL</h2>
                <div class="flex-container">
                    <div class="form-check form-switch item-switch">
                        <label data-toggle="tooltip"
                                title="The order of KRools boxing match will randomly order the sequence.">
                            <input class="form-check-input"
                                    type="checkbox"
                                    name="krool_phase_order_rando"
                                    display_name="Shuffle K. Rool Phases"
                                    value="True"/>
                            Shuffle K. Rool Phases
                        </label>
                    </div>
                    <div class="form-check form-switch item-switch">
                        <label data-toggle="tooltip"
                                title="K. Rool will require only keys 3 and 8 to appear, just like in the vanilla game.">
                            <input class="form-check-input"
                                    type="checkbox"
                                    name="k_rool_vanilla_requirement"
                                    id="k_rool_vanilla_requirement"
                                    display_name="Vanilla K. Rool Key Requirement"
                                    value="True"/>
                            Vanilla K. Rool Key Requirement
                        </label>
                    </div>
                </div>
                <h5 class="select-title">
                    K. Rool Phase Length
                    <label data-toggle="tooltip"
                            title="Selects a random number of K Rool Phases.">
                        <input class="dice_checkbox"
                                type="checkbox"
                                name="krool_random"
                                display_name="Random K. Rool Phase Count"
                                onchange="toggle_clicks()"
                                id="krool_random"
                                value="True"/>
                        <label for="krool_random"></label>
                    </label>
                </h5>
                <div>
                    {{ slider_input("krool_phase_count", "K. Rool Phase Count", 1, 5) }}
                </div>
                <div class="flex-container">
                    <div class="form-check form-switch item-switch center-flex">
                        <label data-toggle="tooltip" title="All Cannon Barrels require Baboon Blast to use. This includes DK Phase of K Rool and the Helm DK Minigame.">
                            <input class="form-check-input"
                                    type="checkbox"
                                    name="cannons_require_blast"
                                    id="cannons_require_blast"
                                    display_name="DK Phase requires Baboon Blast"
                                    onchange="toggle_clicks()"
                                    value="True"/>
                            DK Phase requires blast
                        </label>
                    </div>
                    <div class="item-select">
                        <p class="select-title">Chunky Phase Slam Requirement</p>
                        <select name="chunky_phase_slam_req"
                                id="chunky_phase_slam_req"
                                display_name="Chunky Phase Slam Requirement"
                                class="form-select center-div"
                                aria-label="Chunky Phase Slam Requirement"
                                data-toggle="tooltip"
                                title="Set the level of slam required for Chunky Phase.">
                            <option id="green" value="green">
                                Base Slam
                            </option>
                            <option selected id="blue" value="blue">
                                Super Slam
                            </option>
                            <option id="red" value="red">
                                Super Duper Slam
                            </option>
                            <option id="random" value="random">
                                Random Slam
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.nav-tabs').click(function() {
        setTimeout(() => {
            toggle_clicks()
        }, 200);
    });
    
    function toggle_clicks() {
        if (document.getElementById("krool_random").checked === true) {
            $("#krool_phase_count").prop("disabled", true)
        } else {
            $("#krool_phase_count").prop("disabled", false)
        }
        if (document.getElementById("helm_random").checked === true) {
            $("#helm_phase_count").prop("disabled", true)
        } else {
            $("#helm_phase_count").prop("disabled", false)
        }
        if (document.getElementById("keys_random").checked === true) {
            $("#krool_key_count").prop("disabled", true)
        } else {
            $("#krool_key_count").prop("disabled", false)
        }
        if (document.getElementById("starting_random").checked === true) {
            $("#starting_kongs_count").prop("disabled", true)
        } else {
            $("#starting_kongs_count").prop("disabled", false)
        }
    }
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        });
    });
</script>
