<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border panel">
            <h2 class="title">GLOBAL RANDOMIZERS</h2>
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="If this is checked, then locations and entrances will be shuffled without logic.&#10;WARNING: This can lead to unbeatable seeds, or seeds that require a high level of glitch knowledge to complete.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="no_logic"
                               id="no_logic"
                               value="True"/>
                        No Logic
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="All normal enemies that spawn in the world are randomized.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="enemy_rando"
                               value="True"/>
                        Shuffle Enemies
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip" title="Enemy speeds are randomized.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="enemy_speed_rando"
                               value="True"/>
                        Shuffle Enemy Speed
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Shuffles the solutions to various puzzles in the game.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="puzzle_rando"
                               id="puzzle_rando"
                               value="True"/>
                        Shuffle Puzzle Solutions
                    </label>
                    <a href="https://github.com/2dos/DK64-Randomizer/wiki/Feature-Explanations#puzzle-solution-randomizer"
                       target="_blank">
                        <img class="icon" src="./static/img/external_link.png">
                    </a>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="The order of KRools boxing match will randomly order the sequence (Currently always ends on chunky).">
                        <input class="form-check-input"
                               type="checkbox"
                               name="krool_phase_order_rando"
                               value="True"/>
                        Shuffle K Rool Phases
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="The order of the Helm minigame rooms will randomly order the sequence.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="helm_phase_order_rando"
                               value="True"/>
                        Shuffle Helm Rooms
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="The kong you use to fight a boss is different instead of what is normally required.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="boss_kong_rando"
                               id="boss_kong_rando"
                               value="True"/>
                        Shuffle Boss Kong Required
                    </label>
                </div>
                <div class="spacer"></div>
            </div>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Activate Bananaports</p>
                    <select name="activate_all_bananaports"
                            id="activate_all_bananaports"
                            class="form-select"
                            aria-label="Activate Bananaports"
                            data-toggle="tooltip"
                            title="Determines which (if any) bananaports are activated by default.&#10;-Off: Bananaports are off by default.&#10;-Isles Only: Only the Bananaports in Isles are on by default.&#10;-All: All Bananaports are on by default.">
                        <option selected id="off" value="off">
                            Off
                        </option>
                        <option id="isles" value="isles">
                            Isles Only
                        </option>
                        <option id="all" value="all">
                            All
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Entrance Randomizer</p>
                    <select name="level_randomization"
                            id="level_randomization"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines how entrances are randomized and placed.&#10;-Level Order: Randomize only the order that the levels are in.&#10;-Loading Zones: Randomize every entrance except for Helm/Helm Lobby.&#10;-Decoupled Loading Zones: Randomize every entrance except for Helm/Helm Lobby. Going back through a entrance will take you somewhere else.&#10;-Vanilla: All entrances are the same as the base game.">
                        <option selected value="level_order">
                            Level Order
                        </option>
                        <option value="loadingzone">
                            Loading Zones
                        </option>
                        <option value="loadingzonesdecoupled">
                            Decoupled Loading Zones
                        </option>
                        <option value="vanilla">
                            Vanilla
                        </option>
                    </select>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="col border panel">
            <h2 class="title">LOCATION RANDOMIZERS</h2>
            <div class="flex-container">
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="The boss you can get in a level is different than normal.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="boss_location_rando"
                               id="boss_location_rando"
                               value="True"/>
                        Shuffle Boss Location
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Random mappings of bananaport locations.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="bananaport_rando"
                               value="True"/>
                        Shuffle Bananaports
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Starting kong and kong locations have been randomized.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="kong_rando"
                               id="kong_rando"
                               value="True"/>
                        Shuffle Kongs
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Dirt Patches for Rainbow Coins are in random locations.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="random_patches"
                               id="random_patches"
                               value="True"/>
                        Shuffle Dirt Patches
                    </label>
                </div>
                <div class="form-check form-switch item-switch">
                    <label data-toggle="tooltip"
                           title="Shuffle the locations of shops (including Snides) within each Level/Isles.">
                        <input class="form-check-input"
                               type="checkbox"
                               name="shuffle_shops"
                               id="shuffle_shops"
                               value="True"/>
                        Shuffle Shop Locations
                    </label>
                </div>
                <div class="spacer"></div>
            </div>
            <div class="flex-container">
                <div class="item-select">
                    <p class="select-title">Shuffle Kasplats</p>
                    <select name="kasplat_rando_setting"
                            id="kasplat_rando_setting"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines if and how Kasplats are randomized.&#10;-Vanilla: Kasplats are in their vanilla locations and hold blueprints for their normal kongs.&#10;-Vanilla Locations: Random placement of kasplats between existing spawns.&#10;-Location Shuffle: Random placement of kasplats with new and interesting locations.">
                        <option id="off" selected value="off">
                            Vanilla
                        </option>
                        <option id="vanilla_locations" value="vanilla_locations">
                            Vanilla Locations
                        </option>
                        <option id="location_shuffle" value="location_shuffle">
                            Location Shuffle
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Move Randomizer</p>
                    <select name="move_rando"
                            id="move_rando"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="Determines if and how moves are randomized.&#10;-Vanilla: Moves are in their vanilla locations and can only be bought by their normal kongs.&#10;-Shuffle: Moves can be randomized to different shops, but must still be bought by their normal kong. Shared moves can be bought by any kong.&#10;-Cross Kong Purchases: Kongs can now purchase another kongs moves. Shop Indicator will still show which kong buys the move.&#10;-Unlock All Moves: This option will make all moves available from the start without purchasing them. Does not include shockwave.">
                        <option id="move_off"
                                selected
                                value="off"
                                title="Moves are in their vanilla locations and can only be bought by their normal kongs.">
                            Vanilla
                        </option>
                        <option id="move_on" value="on">
                            Shuffle
                        </option>
                        <option id="move_on_cross_purchase" value="cross_purchase">
                            Cross Kong Purchases
                        </option>
                        <option id="move_start_with" value="start_with">
                            Unlock All Moves
                        </option>
                    </select>
                </div>
                <div class="item-select">
                    <p class="select-title">Random Shop Prices</p>
                    <select name="random_prices"
                            id="random_prices"
                            class="form-select"
                            aria-label="Randomization type"
                            data-toggle="tooltip"
                            title="All prices in shops are randomized to a random number.&#10;-Vanilla: Same cost as base game.&#10;-Free: All moves are free.&#10;-Low: Moves cost 1-4 coins most of the time. (Avg: 2.5)&#10;-Medium: Moves cost 1-8 coins most of the time. (Avg: 4.5)&#10;-High: Moves cost 1-12 coins most of the time. (Avg: 6.5)&#10;-Extreme: Moves cost 10+ coins most of the time. (Avg: 11, starting Shockwave required!)&#10;WARNING: High Prices restricts move placements quite a bit and therefore Seeds have a hard time generating, Extreme even more so. Might take a few tries to generate a seed!">
                        <option selected value="vanilla">
                            Vanilla
                        </option>
                        <option value="free">
                            Free
                        </option>
                        <option value="low">
                            Low
                        </option>
                        <option value="medium">
                            Medium
                        </option>
                        <option value="high">
                            High
                        </option>
                        <option id="extreme_price_option" value="extreme">
                            Extreme
                        </option>
                    </select>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        })
    })
</script>
