<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col border">
            <h3>Global Options</h3>
            <table class="table table-striped table-dark">
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="If this is checked, then locations and entrances will be shuffled without logic.&#10;WARNING: This can lead to unbeatable seeds, or seeds that require a high level of glitch knowledge to complete.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="no_logic"
                                       value="False"/>
                                No Logic
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="All normal enemies that spawn in the world are randomized.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="enemy_rando"
                                       value="True"/>
                                Shuffle Enemies
                            </label>
                        </div>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Battle crown enemies are randomized.">
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="crown_enemy_rando"
                                    value="True"/>
                                Shuffle Crown Enemies
                            </label>
                        </div>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Enemy speeds are randomized.">
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="enemy_speed_rando"
                                    value="True"/>
                                Shuffle Enemy Speed
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="The order of KRools boxing match will randomly order the sequence (Currently always ends on chunky).">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="krool_phase_order_rando"
                                       value="True"/>
                                Shuffle K Rool Phases
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="The kong you use to fight a boss is different instead of what is normally required.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="boss_kong_rando"
                                       id="boss_kong_rando"
                                       value="True"/>
                                Shuffle Boss Kong Required
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Randomizes the amount of banana medals needed for Jetpac. Range is roughly 4 to 15 with an average of 10.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="random_medal_requirement"
                                       value="True"/>
                                Random Medal Requirement
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Shuffles the solutions to various puzzles in the game, including: &#10;- Minecart rides & Races &#10;- Llama Temple Matching Game.&#10- Pufftoss & Helm Star Placement.&#10- Factory Number Game.&#10- Museum Shields Order">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="puzzle_rando"
                                       id="puzzle_rando"
                                       value="True"/>
                                Shuffle Puzzle Solutions
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Activate Bananaports
                            <select name="activate_all_bananaports"
                                    id="activate_all_bananaports"
                                    style="width: 60%;"
                                    class="form-select center-div"
                                    aria-label="Activate Bananaports"
                                    data-toggle="tooltip"
                                    title="Determines which (if any) bananaports are activated by default.">
                                <option selected value="off" title="Bananaports are off by default.">
                                    Off
                                </option>
                                <option value="isles" title="Only the Bananaports in Isles are on by default.">
                                    Isles Only
                                </option>
                                <option value="all" title="All Bananaports are on by default.">
                                    All
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Entrance Randomizer
                            <select name="level_randomization"
                                    id="level_randomization"
                                    style="width: 60%;"
                                    class="form-select center-div"
                                    aria-label="Randomization type"
                                    data-toggle="tooltip"
                                    title="Determines how entrances are randomized and placed.">
                                <option selected value="level_order" title="Randomize only the order that the levels are in.">
                                    Level Order
                                </option>
                                <option value="loadingzone" title="Randomize every entrance except for Helm/Helm Lobby.">
                                    Loading Zones
                                </option>
                                <option value="loadingzonesdecoupled" title="Randomize every entrance except for Helm/Helm Lobby. Going back through a entrance will take you somewhere else.">
                                    Decoupled Loading Zones
                                </option>
                                <option value="vanilla" title="All entrances are the same as the base game.">
                                    Vanilla
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col border">
            <h3>Location Rando</h3>
            <table class="table table-striped table-dark">
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="The boss you can get in a level is different than normal.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="boss_location_rando"
                                       id="boss_location_rando"
                                       value="True"/>
                                Shuffle Boss Location
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Random mappings of bananaport locations.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="bananaport_rando"
                                       value="True"/>
                                Shuffle Bananaports
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Random placement of kasplats between existing spawns.">
                                <input class="form-check-input" type="checkbox" name="kasplat_rando" value="True" />
                                Shuffle Kasplats
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Starting kong and kong locations have been randomized.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="kong_rando"
                                       id="kong_rando"
                                       value="True"/>
                                Shuffle Kongs
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch w-75">
                            <label data-toggle="tooltip" title="Dirt Patches for Rainbow Coins are in random locations.">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="random_patches"
                                       id="random_patches"
                                       value="True"/>
                                Shuffle Dirt Patches
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Move Randomizer
                            <select name="move_rando"
                                    id="move_rando"
                                    style="width: 60%;"
                                    class="form-select center-div"
                                    aria-label="Randomization type"
                                    data-toggle="tooltip"
                                    title="Determines if and how moves are randomized.">
                                <option id="move_off" selected value="off" title="Moves are in their vanilla locations and can only be bought by their normal kongs.">
                                    Vanilla
                                </option>
                                <option id="move_on" value="on" title="Moves can be randomized to different shops, but must still be bought by their normal kong.&#10;Shared moves can be bought by any kong.">
                                    Shuffle
                                </option>
                                <option id="move_on_cross_purchase" value="on_cross_purchase" title="Kongs can now purchase another kongs moves.&#10;Shop Indicator will still show which kong buys the move.">
                                    Cross Kong Purchases
                                </option>
                                <option id="move_start_with" value="start_with" title="This option will make all moves available from the start without purchasing them.&#10;Includes all Cranky, all Candy, and almost all Funky purchasables.&#10;Does not include access to JetPac in Cranky; you will still need some banana medals.&#10;Does not include the shockwave attack from the banana fairy queen.">
                                    Unlock All Moves
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>
                                Random Shop Prices
                            </label>
                            <select name="random_prices"
                                    id="random_prices"
                                    style="width: 60%;"
                                    class="form-select center-div"
                                    aria-label="Randomization type"
                                    data-toggle="tooltip"
                                    title="All prices in shops are randomized to a random number.">
                                <option selected value="vanilla" title="Same cost as base game.">
                                    Vanilla
                                </option>
                                <option value="free" title="All moves are free.">
                                    Free
                                </option>
                                <option value="low" title="Moves cost 1-4 coins most of the time. (Avg: 2.5)">
                                    Low
                                </option>
                                <option value="medium" title="Moves cost 1-8 coins most of the time. (Avg: 4.5)">
                                    Medium
                                </option>
                                <option value="high" title="Moves cost 1-12 coins most of the time. (Avg: 6.5)&#10;WARNING: High Prices restricts move placements quite a bit and therefore Seeds have a hard time generating.&#10;Might take a few tries to generate a seed!">
                                    High
                                </option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
         $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover'})
    })
</script>
