<div class="flex-container" style="margin-top: 15px;">
    <div class="item-header">
        <h2 class="title">HASH</h2>
        <div>
            <img id="hash0" style="transform:rotate(180deg);">
            <img id="hash1" style="transform:rotate(180deg);">
            <img id="hash2" style="transform:rotate(180deg);">
            <img id="hash3" style="transform:rotate(180deg);">
            <img id="hash4" style="transform:rotate(180deg);">
        </div>
    </div>
    <div id="spoiler_log_block">
        <h2 class="title">SPOILER LOG</h2>
        <button class="btn btn-primary"
                type="button"
                onClick="save_text_as_file(document.getElementById('spoiler_log_text').value, document.getElementById('generated_seed_id').innerHTML + '-spoilerlog.json')">
            Save Log
        </button>
        <button class="btn btn-primary"
                type="button"
                onClick="save_text_as_file(document.getElementById('tracker_text').value, document.getElementById('generated_seed_id').innerHTML + '-tracker.html')">
            Save Tracker
        </button>
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#spoiler"
                aria-expanded="false"
                aria-controls="spoiler">
            Show Spoiler Log
        </button>
        <div class="collapse" id="spoiler">
            <div class="card bg-dark center rounded"
                 style="width: 90%; height: 80%; min-height: 450px">
                <div id="spoiler_log_text"></div>
            </div>
        </div>
        <textarea id="tracker_text" hidden readonly></textarea>
    </div>
    <div class="item-header">
        <h2 class="title">SEED ID</h2>
        <h5 id="generated_seed_id">00000</h5>
    </div>
</div>
<div style="background:#ff5722; padding:8px;" id="spoiler_warning_1">
    <h2 class="title">WARNING</h2>
    <b>It is STRONGLY recommended you save the spoiler log right now in case you run into any trouble. This is a dev site, and there is a chance you may encounter bugs that need to be reported to the devs on the Discord.</b>
    <button class="btn btn-primary"
            type="button"
            onClick="save_text_as_file(document.getElementById('spoiler_log_text').value, document.getElementById('generated_seed_id').innerHTML + '-spoilerlog.json')">
        <b>Save Log</b>
    </button>
</div>
<hr />
<div style="margin-top: 15px;">
    <h2 class="title">SETTINGS</h2>
    <div class="flex-container">
        {% for i in range(0, 3) %}
            {# ApplyRandomizer.py ~Line 386 #}
            <table id="settings_table_{{ i }}"
                   class="table table-striped table-dark settings-table">
            </table>
        {% endfor %}
    </div>
</div>
<div style="background:#ff5722; padding:8px;" id="spoiler_warning_2">
    <h2 class="title">WARNING</h2>
    <b>It is STRONGLY recommended you save the spoiler log right now in case you run into any trouble. This is a dev site, and there is a chance you may encounter bugs that need to be reported to the devs on the Discord.</b>
    <button class="btn btn-primary"
            type="button"
            onClick="save_text_as_file(document.getElementById('spoiler_log_text').value, document.getElementById('generated_seed_id').innerHTML + '-spoilerlog.json')">
        <b>Save Log</b>
    </button>
</div>