<div>
    {% for item in spoiler %}
        {% if spoiler[item] != {} and item != "Settings" and item != "Paths" %}
            <div>
                <div class="spoiler-head collapsed"
                     id="spoilerhead-{{ item.lower().replace(' ','_').replace('(','').replace(')','') }}"
                     data-bs-toggle="collapse"
                     data-bs-target="#spoileritem-{{ item.lower().replace(' ','_').replace('(','').replace(')','').replace('&', '') }}"
                     aria-expanded="false"
                     aria-controls="spoileritem-{{ item.lower().replace(' ','_').replace('(','').replace(')','').replace('&', '') }}">
                    {# Collapsable Header #}
                    <div class="spoiler-head-container">
                        <div class="spoiler-head-name">{{ item }}</div>
                        <div class="spoiler-head-caret">
                            <span class="caret-up">&#9650;</span>
                            <span class="caret-down">&#9660;</span>
                        </div>
                    </div>
                </div>
                <div class="spoiler-item collapse"
                     id="spoileritem-{{ item.lower().replace(' ','_').replace('(','').replace(')','').replace('&', '') }}">
                    {% if spoiler[item] is mapping %}
                        {% if item == "Playthrough" %}
                            {% for sphere_index in spoiler[item] %}
                                <div class="playthrough-head collapsed"
                                     id="playthroughhead-{{ sphere_index }}"
                                     data-bs-toggle="collapse"
                                     data-bs-target="#playthroughitem-{{ sphere_index }}"
                                     aria-expanded="false"
                                     aria-controls="playthroughitem-{{ sphere_index }}">
                                    <div class="playthrough-head-container">
                                        <div class="playthrough-head-name">
                                            {% if spoiler[item][sphere_index]["Available GBs"] != 1 %}
                                                Sphere {{ sphere_index }}: {{ spoiler[item][sphere_index]["Available GBs"] }} GBs available
                                            {% else %}
                                                Sphere {{ sphere_index }}: {{ spoiler[item][sphere_index]["Available GBs"] }} GB available
                                            {% endif %}
                                        </div>
                                        <div class="playthrough-head-caret">
                                            <span class="caret-up">&#9650;</span>
                                            <span class="caret-down">&#9660;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="playthrough-item collapse"
                                     id="playthroughitem-{{ sphere_index }}">
                                    <table class="table table-striped table-dark settings-table ignore-width">
                                        <tbody>
                                            {% for item2 in spoiler[item][sphere_index] %}
                                                {% if item2 != "Available GBs" %}
                                                    <tr>
                                                        <td>{{ item2 }}</td>
                                                        {% if spoiler[item][sphere_index][item2] is iterable and (spoiler[item][sphere_index][item2] is not string and spoiler[item][sphere_index][item2] is not mapping) %}
                                                            <td>{{ spoiler[item][sphere_index][item2]|join(", ") }}</td>
                                                        {% else %}
                                                            <td>{{ spoiler[item][sphere_index][item2] }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        {% elif item in ("Cosmetics","Requirements","Bosses","Items","Items (Sorted by Item)","Shuffled Exits (Sorted by destination)","Colored Banana Locations","Wrinkly Door Locations","T&S Portal Locations") %}
                            {# Attributes with sub-dicts #}
                            {% for sub_group in spoiler[item] %}
                                {% if spoiler[item][sub_group] != {} %}
                                    <div class="playthrough-head collapsed"
                                         id="playthroughhead-{{ item.lower().replace(' ','_').replace('&','').replace('(','').replace(')','') }}-{{ sub_group.lower().replace(' ','_') }}"
                                         data-bs-toggle="collapse"
                                         data-bs-target="#playthroughitem-{{ item.lower().replace(' ','_').replace('&','').replace('(','').replace(')','') }}-{{ sub_group.lower().replace(' ','_') }}"
                                         aria-expanded="false"
                                         aria-controls="playthroughitem-{{ item.lower().replace(' ','_').replace('&','').replace('(','').replace(')','') }}-{{ sub_group.lower().replace(' ','_') }}">
                                        <div class="playthrough-head-container">
                                            <div class="playthrough-head-name">{{ sub_group }}</div>
                                            <div class="playthrough-head-caret">
                                                <span class="caret-up">&#9650;</span>
                                                <span class="caret-down">&#9660;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="playthrough-item collapse"
                                         id="playthroughitem-{{ item.lower().replace(' ','_').replace('&','').replace('(','').replace(')','') }}-{{ sub_group.lower().replace(' ','_') }}">
                                        <table class="table table-striped table-dark settings-table ignore-width">
                                            <tbody>
                                                {% for item2 in spoiler[item][sub_group] %}
                                                    <tr>
                                                        {% if item == "Items" %}
                                                            {% if item2 == "Diddy Kong" %}
                                                                <td>Japes Kong</td>
                                                            {% elif item2 == "Lanky Kong" %}
                                                                <td>Llama Temple Kong</td>
                                                            {% elif item2 == "Tiny Kong" %}
                                                                <td>Tiny Temple Kong</td>
                                                            {% elif item2 == "Chunky Kong" %}
                                                                <td>Factory Kong</td>
                                                            {% else %}
                                                                <td>{{ item2 }}</td>
                                                            {% endif %}
                                                        {% else %}
                                                            <td>{{ item2 }}</td>
                                                        {% endif %}
                                                        {% if spoiler[item][sub_group][item2] is iterable and (spoiler[item][sub_group][item2] is not string and spoiler[item][sub_group][item2] is not mapping) %}
                                                            <td>{{ spoiler[item][sub_group][item2]|join("<br>") }}</td>
                                                        {% else %}
                                                            <td>
                                                                {{ spoiler[item][sub_group][item2] }}
                                                                {% if item == "Cosmetics" and sub_group == "Colors and Models" and "color" in item2.lower() %}
                                                                    <span class="color-demo-box"
                                                                          style="background-color:{{ spoiler[item][sub_group][item2] }}">&nbsp;</span>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <table class="table table-striped table-dark settings-table ignore-width">
                                <tbody>
                                    {% for item2 in spoiler[item] %}
                                        <tr>
                                            <td>{{ item2 }}</td>
                                            {% if item == "Shuffled Exits" %}
                                                {% if lzr_type == "coupled" %}
                                                    <td class="directional_divider">↔</td>
                                                {% elif lzr_type == "decoupled" %}
                                                    <td class="directional_divider">→</td>
                                                {% endif %}
                                            {% endif %}
                                            {% if spoiler[item][item2] is iterable and (spoiler[item][item2] is not string and spoiler[item][item2] is not mapping) %}
                                                <td>{{ spoiler[item][item2]|join("<br>") }}</td>
                                            {% else %}
                                                <td>{{ spoiler[item][item2] }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% elif spoiler[item] == "True" or spoiler[item] == "False" %}
                        {{ spoiler[item] }}
                    {% elif spoiler[item] is iterable and (spoiler[item] is not string and spoiler[item] is not mapping) %}
                        <table class="table table-striped table-dark settings-table ignore-width">
                            <tbody>
                                {% for item2 in spoiler[item] %}
                                    <tr>
                                        <td>{{ item2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% elif spoiler[item] is number %}
                        {{ spoiler[item] }}
                    {% elif spoiler[item] is string %}
                        {{ spoiler[item] }}
                    {% else %}
                        {{ spoiler[item] }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
