a[href],
input[type="submit"],
input[type="checkbox"],
input[type="image"],
label,
select,
button,
.pointer {
  cursor: pointer;
}

.form-switch {
  transform: scale(1.3);
}
input[type="number"]:disabled{background-color:#252525;color:#898989;border-color:#898989;}
input[type="number"]::-webkit-inner-spin-button{background-color:#252525;color:#898989;}

.form-select {
  background-color: #252525;
  color: #e3e3e3;
  background-image: url("/static/img/dropdown_arrow.png");
  background-size: 16px 16px;
}

.form-select:disabled{
  background-color:#252525;
  color:#898989;
  border-color:#898989;
  pointer-events: none;
}

#seed{
  background-color: #252525;
  color: #e3e3e3;
  border-color: #ced4da;
}

body {
  background: linear-gradient(0deg, #003d03 0%, #003d03 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/static/img/bgfinal.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 45%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-check {
  text-align: left;
  padding-left: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-check-input {
  background-color: #929faa;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
  background-color: #1985c9;
  border-color: #1985c9;
}

.form-control, .form-control:focus {
  background-color: #252525;
  color: #e3e3e3
}

.form-title-select {
  line-height: 48px;
  margin-right: 5px;
  display: flex;
  white-space: nowrap;
}

.form-title-select p {
  padding-right: 5px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.logo_images {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.center #seed {
  margin-right: 20px;
}

table {
  table-layout: fixed;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  overflow: hidden;
  max-width: 300px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #1f1e1e;
  flex: 0 0 50px;
  margin-top: auto;
}

#nav-gen-type-container {
  width: 90%;
}

#nav-gen-type {
  border-bottom: none;
}

#nav-gen-type button.nav-link {
  padding: 5px 10px;
  transition: 0.5s ease-in-out background;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 5px;
  outline: none;
}

.nav-tabs .nav-link {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ced4da;
  color: #e3e3e3;
}

.nav-tabs .nav-link.active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), #212529);
  border-color: #ced4da;
  color: #e3e3e3;
  border-bottom: none;
}

#nav-gen-type button.nav-link:hover {
  background-color: #0c0c0c;
}

#nav-gen-type button.nav-link.active {
  border-bottom: 4px solid midnightblue;
  border-radius: 3px;
}

div {
  color: #e3e3e3;
}

.checkboxes label {
  width: 35%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.checkbox-only label {
  left: 100px;
}

.tooltip-inner {
  max-width: 600px !important;
  white-space: pre-wrap;
  text-align: left;
}

.slider.slider-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.slider.slider-disabled .slider-track-high,
.slider.slider-disabled .slider-tick {
  background: #aebecb;
}

.slider.slider-disabled .in-selection,
.slider.slider-disabled .slider-handle,
.slider.slider-disabled .slider-selection {
  background: #758088;
}
