a[href], input[type='submit'], input[type='checkbox'], input[type='image'], label, select, button, .pointer {
  cursor: pointer;
}
.center, .form-check {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.center #seed {
    margin-right: 20px;
}

table {
    table-layout: fixed;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    overflow: hidden;
    max-width: 300px;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
}

footer div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


