a[href],
input[type="submit"],
input[type="checkbox"],
input[type="image"],
label,
select,
button,
.pointer {
  cursor: pointer;
}

button:disabled {
  opacity: 50%;
  cursor: default;
}

a:link {
  color: #e3e3e3;
  text-decoration: none;
}

a:visited {
  color: #e3e3e3;
}

a:hover {
  color: #035e30;
}

.icon {
  width: 11px;
  cursor: pointer;
  margin: 0px 0px 9px 3px;
}

.form-switch {
  transform: scale(1.3);
}
input[type="number"]:disabled{background-color:#252525;color:#a3a1a1;border-color:#898989;}
input[type="number"]::-webkit-inner-spin-button{background-color:#252525;color:#a3a1a1;}

.form-select {
  background-color: #048243;
  color: #e3e3e3;
  background-image: url("/static/img/dropdown_arrow.png");
  background-size: 16px 16px;
}

.form-select:disabled{
  background-color:#035e30;
  color:#a3a1a1;
  border-color:#898989;
  pointer-events: none;
}

#seed {
  background-color: #252525;
  color: #e3e3e3;
  border-color: #ced4da;
  height: 35px;
}

#settings_string {
  background-color: #252525;
  color: #e3e3e3;
  border-color: #ced4da;
  height: 35px;
  min-width: 300px;
}

#apply_preset {
  width: 20%;
  min-width: 125px;
  height: 40px;
  margin-top: 43px;
  text-align: center;
}

.settings_button {
  width: 20%;
  min-width: 125px;
  height: 40px;
  margin: 40px 0px 30px 0px;
  text-align: center;
}

@font-face {
  font-family: "Jumpman";
  src: url('/ui/Fonts/Jumpman.ttf');
}

body {
  background: linear-gradient(0deg, #003d03 0%, #003d03 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/static/img/bgfinal.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 45%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-check-input {
  background-color: #929faa;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
  background-color: #048243;
  border-color: #048243;
}

.form-control, .form-control:focus {
  background-color: #252525;
  color: #e3e3e3;
  min-width: 100px !important;
}

.form-title-select {
  line-height: 48px;
  margin-right: 5px;
  display: flex;
  white-space: nowrap;
}

.form-title-select p {
  padding-right: 5px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.logo_images {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.center #seed {
  margin-right: 20px;
}

table {
  table-layout: fixed;
  max-width: 600px;
  width: 100%;
}

th,
td {
  overflow: hidden;
  max-width: 300px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #1f1e1e;
  flex: 0 0 50px;
  margin-top: auto;
}

#nav-gen-type-container {
  width: 90%;
}

#nav-gen-type {
  border-bottom: none;
}

#nav-gen-type button.nav-link {
  padding: 5px 10px;
  transition: 0.5s ease-in-out background;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 5px;
  outline: none;
}

.nav-tabs .nav-link {
  background-color: rgba(0, 0, 0, 0);
  border-color: #ced4da;
  color: #e3e3e3;
}

.nav-tabs .nav-link.active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), #212529);
  border-color: #ced4da;
  color: #e3e3e3;
  border-bottom: none;
}

#nav-gen-type button.nav-link:hover {
  background-color: #0c0c0c;
}

#nav-gen-type button.nav-link.active {
  border-bottom: 4px solid midnightblue;
  border-radius: 3px;
}

.nav-item {
  flex: 1 0 10%;
}

div {
  color: #e3e3e3;
}

.checkboxes label {
  width: 35%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.checkbox-only label {
  left: 100px;
}

.tooltip-inner {
  max-width: 600px !important;
  white-space: pre-wrap;
  text-align: left;
}

.slider .in-selection,
.slider .slider-selection {
  background: #048243;
}

.slider .slider-handle {
  background: #003d03;
}

.slider.slider-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.slider.slider-disabled .slider-track-high,
.slider.slider-disabled .slider-tick {
  background: #aebecb;
}

.slider.slider-disabled .in-selection,
.slider.slider-disabled .slider-handle,
.slider.slider-disabled .slider-selection {
  background: #758088;
}

#music_file {
  margin-bottom: 20px;
}

select {
  overflow-y: auto;
}

select option:checked {
  background-color: #048243;
  color: #e3e3e3;
}

select:disabled option:checked {
  opacity: 50%;
}

.rgb-btn {
  border: 1px solid #ced4da;
}

.color-selector {
  min-height:200px;
}

.multi-select {
  background-color: #171717;
}

.multi-select:disabled {
  opacity: 50%;
  background-color: #171717;
}

.input-group-text {
  background-color: #171717;
  height: 38px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.choose-file {
  width: 105px;
  padding: 0px;
}
input[type="text"]:read-only{background-color:#252525;}

.file-button {
  height: 36px;
  width: 103px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#leveltable{
  margin-bottom: 20px;
}

#maximize_helm_blocker:disabled {
  opacity: 50%;
  border-color: #898989;
}

input[type='checkbox'] {
  accent-color: #048243;
}

i {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 10px;
}

.label {
  padding:15px 0px 10px;
}

.container {
  max-width: 2000px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.item-switch {
  text-align: left;
  margin: 10px 25px 10px 80px;
  flex: 1 0 30%;
  min-width: 225px;
}

.item-select {
  text-align: center;
  margin: 10px 30px 10px 40px;
  flex: 1 0 30%;
  min-width: 225px;
  max-width: 265px;
}

.item-header {
  flex: 0 0 25%;
  min-width: 250px;
}

.item-group {
  text-align: left;
  margin: 10px 90px 10px 10px;
  flex: 1 0 30%;
  max-width: 100px;
  min-width: 150px;
}

.item-multiselect {
  text-align: center;
  margin: 10px 30px 10px 40px;
  flex: 1 0 30%;
  min-width: 205px;
  max-width: 205px;
}

.item-color-select {
  text-align: center;
  margin: 10px 20px;
  flex: 1 0 30%;
  min-width: 125px;
  max-width: 130px;
}

.item-link {
  text-align: center;
  margin: 10px 20px;
  flex: 1 0 50%;
  min-width: 350px;
  max-width: 400px;
}

.center-flex {
  text-align: center;
  margin: 10px 0px;
}

.spacer {
  flex: 1 1 50%;
  max-width: 352px;
}

.title {
  font-family: 'Jumpman';
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.select-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.panel {
  min-height: 450px;
}

.settings-table:not(.ignore-width) {
  max-width: 450px;
  height: 300px;
}
.settings-table {
  flex: 1 0 50%;
  min-width: 437px;
  margin-left: auto;
  margin-right: auto;
}

#spoiler_log_block {
  flex: 1 1 auto;
  min-width: 500px;
  width: 500px;
}

.search {
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0px;
  width: 250px;
}

#search_box {
  border: none;
  width: 250px;
}

.selected {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem !important;
  border-top: none;
  margin-left: 0px !important;
  min-width: 250px !important;
}

.modal-body {
  background-color: #252525;
}

.modal-header {
  background-color: #171717;
  height: 60px;
}

.modal-footer {
  background-color: #171717;
}

.modal-content {
  top: 50%;
  transform: translateY(25%);
  border: none;
}

.btn-close {
  background-color: grey;
}

.customize {
  font-size: 10px;
  margin: 0px;
}

.spoiler-head {
  padding: 1em 1.5em 1em 3em;
  border: 2px solid white;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}

.playthrough-head {
  padding: 0.5em 1.5em;
  border: 1px solid grey;
  text-align: left;
  padding-left: 4em;
  cursor: pointer;
}

td.directional_divider {
  width: 20%;
}

.spoiler-head:not(.collapsed), .playthrough-head:not(.collapsed) {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
}

.spoiler-head .caret-up, .playthrough-head .caret-up {
  display:block;
}
.spoiler-head .caret-down, .playthrough-head .caret-down {
  display:none;
}
.spoiler-head:not(.collapsed) .caret-up, .playthrough-head:not(.collapsed) .caret-up {
  display:none;
}
.spoiler-head:not(.collapsed) .caret-down, .playthrough-head:not(.collapsed) .caret-down {
  display:block;
}
.spoiler-head-container, .playthrough-head-container {
  display: flex;
}
.spoiler-head-name, .spoiler-head-caret, .playthrough-head-name, .playthrough-head-caret {
  flex: 1;
}
.spoiler-head-caret, .playthrough-head-caret {
  text-align: right;
}