.fa-2x {
    font-size: 2em;
}
.svg-inline--fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


#nav-tab-list:hover,#nav-tab-list.expanded {
    width:250px;
    overflow:visible;
}

#nav-tab-list {
    background:rgb(33, 37, 41);
    border-right:1px solid rgba(255, 255, 255, 0.15);
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

#nav-tab-list>ul {
    margin:7px 0;
}

#nav-tab-list li {
    position:relative;
    display:block;
    width:249px;
}

#nav-tab-list li>a {
    position:relative;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    display: flex;
    flex-wrap: nowrap;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

#nav-tab-list .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

#nav-tab-list .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

#nav-tab-list {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

#nav-tab-list ul,
#nav-tab-list li {
    outline:0;
    margin:0;
    padding:0;
}

#nav-tab-list li:hover>a,
#nav-tab-list li>a.active {
    color:#fff;
    background-color:#000000;
}
#rando_tabs {
    margin-top: 70px !important;
}