#nav-tab-list, #nav-tab-list-mobile {
    background:rgba(0, 0, 0, 0.9);
    border-right:1px solid rgba(255, 255, 255, 0.15);
    /* position:fixed; */
    top:0;
    bottom:0;
    height:auto;
    left:0;
    z-index:1000;
}

#nav-tab-list>ul, #nav-tab-list-mobile>ul {
    margin:7px 0;
}

#nav-tab-list li, #nav-tab-list-mobile li {
    position:relative;
    display:block;
}

#nav-tab-list li>a, #nav-tab-list-mobile li>a {
    position:relative;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    display: flex;
    flex-wrap: nowrap;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

#nav-tab-list .nav-icon, #nav-tab-list-mobile .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

#nav-tab-list .nav-text, #nav-tab-list-mobile .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
}

a:hover,a:focus {
    text-decoration:none;
}

#nav-tab-list, #nav-tab-list-mobile {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

#nav-tab-list ul,
#nav-tab-list li,
#nav-tab-list-mobile ul,
#nav-tab-list-mobile li {
    outline:0;
    margin:0;
    padding:0;
}

#nav-tab-list li:hover>a,
#nav-tab-list li>a.active,
#nav-tab-list-mobile li:hover>a,
#nav-tab-list-mobile li>a.active {
    color:#fff;
    background-color:#000000;
}
#rando_tabs {
    margin-top: 70px !important;
}