{% from 'dropdown_multiselector.html' import dropdown_multiselector %}
<div class="item-select">
    <p class="select-title">Logic</p>
    <div class="customize-select">
        <select name="logic_type"
                id="logic_type"
                display_name="Logic"
                class="form-select"
                aria-label="Logic"
                data-toggle="tooltip"
                title="Modifies the considerations logic makes when generating your seed">
            <option id="glitchless" selected value="glitchless" title="Seed is beatable without performing any glitches or complex movement tech.">
                Glitchless Logic
            </option>
            <option id="advanced_glitchless" value="advanced_glitchless" title="Seed is beatable, but requires usage of advanced techniques to complete. To modify which techniques will be considered, use the cog icon to the right.">
                Advanced Glitchless Logic
            </option>
            <option id="glitch" value="glitch" title="Seed is beatable, but requires usage of glitches or movement techniques to complete. To modify which glitches and techniques will be considered, use the cog icon to the right.">
                Glitch Logic
            </option>
            <option
                id="minimal"
                value="minimal"
                title="Seed will only check for a few restrictions, but otherwise follows the same considerations as No Logic:&#10;- Key 5 can't be in Level 7 (excluding Loading Zone Entrance Randomizers)&#10;- Kongs can't be in their own shop purchases.&#10;- Baboon Blast cannot be inside a Baboon Blast course or DK Arcade">
                Minimal Logic
            </option>
            <option id="nologic" value="nologic" title="The seed does not verify that the seed is beatable at all, nor makes any logical considerations during the creation of the seed. This has a high potential to generate unbeatable seeds.">
                No Logic
            </option>
        </select>
        <div style="padding: 5px;">
            <input class="customize"
                type="button"
                href="#"
                id="glitches_modal"
                data-bs-toggle="modal"
                data-bs-target="#glitches_Modal"
                data-toggle="tooltip"
                title="This will open a popup that will let you customize what tricks are considered by logic with glitch logic.&#10;This defaults to All options."/>
        </div>
    </div>
</div>
<div class="modal fade"
     id="glitches_Modal"
     tabindex="-1"
     aria-labelledby="glitches_ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title" id="glitches_ModalLabel">TRICKS & GLITCHES</h3>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div style="width: 50%" class="mx-auto">
                        {{ dropdown_multiselector(tricks, "tricks", "Tricks", "This will open a popup that will let you customize what tricks are enabled.", 2) }}
                    </div>
                    <div style="width: 50%" class="mx-auto" id="glitches_multiselector">
                        {{ dropdown_multiselector(glitches, "glitches", "Glitches", "This will open a popup that will let you customize what glitches are enabled.", 2) }}
                    </div>                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>