<div class="form-check form-switch item-switch">
    <label data-toggle="tooltip"
            title="Simian Slam switches will be adjusted to match the level order so that tougher switches will always be in later levels.&#10;The first four levels will have green switches, the next two will have blue and the final level will have red switches.&#10;In LZR, these are assigned to random levels with no regard for level order.">
        <input class="form-check-input"
                type="checkbox"
                id="alter_switch_allocation"
                name="alter_switch_allocation"
                display_name="Progressive Switch Strength"
                value="True"/>
        Progressive Switch Strength
    </label>
    <input class="customize"
        type="button"
        href="#"
        id="slamModalActivator"
        data-bs-toggle="modal"
        data-bs-target="#slamModal"
        data-toggle="modal"
        title="Customize what levels get what slams"/>
</div>
<div class="modal fade" id="slamModal" tabindex="-1" aria-labelledby="slamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title title" id="slamModalLabel">Progressive Slam Requirements</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-cols-2">
                        {% for i in range(0, 8) %}
                            <div class="col">
                                <div class="item-select">
                                    <p class="select-title">Level {{ i + 1 }} Slam</p>
                                    <select name="prog_slam_level_{{ i + 1 }}"
                                            id="prog_slam_level_{{ i + 1 }}"
                                            class="form-select"
                                            aria-label="Randomization type"
                                            display_name="Level {{ i + 1 }} Slam"
                                            data-toggle="tooltip"
                                            title="Slam level tied to level {{ i + 1 }}.">
                                        <option id="green" {% if i < 4 %}selected{% endif %} value="green">
                                            Green
                                        </option>
                                        <option id="blue" {% if i > 3 and i < 6 %}selected{% endif %} value="blue">
                                            Blue
                                        </option>
                                        <option id="red" {% if i > 5 %}selected{% endif %} value="red">
                                            Red
                                        </option>
                                        <option id="random" value="random">
                                            Random
                                        </option>
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>