<div class="modal fade"
     id="tasks_modal"
     tabindex="-1"
     aria-labelledby="tasks_modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title" id="tasks_modalLabel">CONFIGURE TASKS</h3>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-cols-2">
                        {% for i in range(0, 8) %}
                            <div class="col">
                                <div class="item-select">
                                    <p class="select-title">Task {{ i + 1 }}</p>
                                    <div class="d-flex select-number-container" id="task_{{ i + 1 }}_container">
                                        <select name="task_{{ i + 1 }}_condition"
                                                id="task_{{ i + 1 }}_condition"
                                                display_name="Task {{ i + 1 }} Condition"
                                                class="form-select center-div"
                                                aria-label="Task {{ i + 1 }} Condition"
                                                data-toggle="tooltip"
                                                title="Alter the condition required to show the credits.">
                                            <option id="inactive" value="inactive">
                                                No Task
                                            </option>
                                            <option id="req_key" value="req_key">
                                                Keys
                                            </option>
                                            <option id="get_key8" value="get_key8">
                                                Acquire Key 8
                                            </option>
                                            <option id="krem_kapture" value="krem_kapture" title="Photograph all enemies using the fairy camera">
                                                Kremling Kapture
                                            </option>
                                            <option id="dk_rap_items" value="dk_rap_items" title="Acquire all items referenced in the DK Rap">
                                                Complete the DK Rap
                                            </option>
                                            <option id="kill_the_rabbit" value="kill_the_rabbit" title="Kill the rabbit in Chunky's igloo in Caves. Turn it to Ash. Simple as that.">
                                                Kill the Rabbit
                                            </option>
                                            <option id="req_gb" value="req_gb">
                                                Golden Bananas
                                            </option>
                                            <option id="req_bp" value="req_bp">
                                                Blueprints
                                            </option>
                                            <option id="req_companycoins" value="req_companycoins">
                                                Company Coins
                                            </option>
                                            <option id="req_medal" value="req_medal">
                                                Medals
                                            </option>
                                            <option id="req_crown" value="req_crown">
                                                Crowns
                                            </option>
                                            <option id="req_fairy" value="req_fairy">
                                                Fairies
                                            </option>
                                            <option id="req_rainbowcoin" value="req_rainbowcoin">
                                                Rainbow Coins
                                            </option>
                                            <option id="req_bean" value="req_bean">
                                                Bean
                                            </option>
                                            <option id="req_pearl" value="req_pearl">
                                                Pearls
                                            </option>
                                            <option id="req_bosses" value="req_bosses">
                                                Bosses
                                            </option>
                                            <option id="req_bonuses" value="req_bonuses">
                                                Bonuses
                                            </option>
                                            <option id="mech_fish" value="mech_fish">
                                                Shoot the Mechanical Fish's heart
                                            </option>
                                            <option id="arcade" value="arcade">
                                                Complete the second round of DK Arcade
                                            </option>
                                            <option id="jetpac" value="jetpac">
                                                Complete the Jetpac Check
                                            </option>
                                            <option id="bad_hit_detection_man" value="bad_hit_detection_man">
                                                Defeat the Toy Monster
                                            </option>
                                            <option id="rareware_gb_check" value="rareware_gb_check">
                                                Obtain the secret fairy reward
                                            </option>
                                            <option id="blast_courses" value="blast_courses">
                                                Blast Courses
                                            </option>
                                        </select>
                                        <input min="0"
                                                max="255"
                                                name="task_{{ i + 1 }}_count"
                                                id="task_{{ i + 1 }}_count"
                                                display_name="Task {{ i + 1 }} Item Count"
                                                class="form-control center-div"
                                                type="number"
                                                data-toggle="tooltip"
                                                title="Amount of the item specified to complete the task."
                                                default="1"
                                                placeholder="1"/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="task_reset">Reset</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>